@page "/Razorpay/RazorpayDetail"
@inherits RazorpayDetailBase
@using AIS.Model.Razorpay
@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">*@

<MudGrid>
    <MudItem xs="12" sm="8" md="8">
        <MudCard Elevation="25">
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText>Add/Update Batch</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <div class="d-flex justify-center mb-4">
                    <EditForm Model="@razorpayDetailModel" OnValidSubmit="OnValidSubmit">
                        <DataAnnotationsValidator />
                        <MudCard Elevation="5">
                            <MudCardContent>
                                <MudTextField Label="Name" HelperText="Max. 8 characters"
                                              @bind-Value="razorpayDetailModel.Name" For="@(() => razorpayDetailModel.Name)"
                                              Variant="Variant.Outlined" Margin="Margin.Dense" />
                                <MudTextField Label="Email" Class="mt-4"
                                              @bind-Value="razorpayDetailModel.Email" For="@(() =>razorpayDetailModel.Email)" Variant="Variant.Outlined" Margin="Margin.Dense" />
                                <MudTextField Label="Phone" Class="mt-4" @bind-Value="razorpayDetailModel.PhoneNumber" For="@(() =>razorpayDetailModel.PhoneNumber)" Variant="Variant.Outlined" Margin="Margin.Dense" />
                                <MudTextField Label="Address" Class="mt-4" @bind-Value="razorpayDetailModel.Address" For="@(() =>razorpayDetailModel.Address)" Variant="Variant.Outlined" Margin="Margin.Dense" />
                                <MudTextField Label="Amount " Class="mt-4" @bind-Value="razorpayDetailModel.DueAmount" For="@(() =>razorpayDetailModel.DueAmount)" Variant="Variant.Outlined" Margin="Margin.Dense" />

                            </MudCardContent>
                            <MudCardActions Class="d-flex justify-space-between align-center">

                                <MudButton @onclick="@(()=>Cancel())" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Cancel" Color="Color.Warning" Size="Size.Small" Class="ml-n1 my-3">Cancel</MudButton>
                                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Save" Color="Color.Info" Size="Size.Small">Process</MudButton>

                            </MudCardActions>
                        </MudCard>
                    </EditForm>
                </div>

            </MudCardContent>

        </MudCard>
    </MudItem>
</MudGrid>
