@using AdminDashboard.Server.Models.SyllabusSetup;
@using Syncfusion.Blazor.Cards
@using Syncfusion.Blazor.Charts
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Inputs;
@using Syncfusion.Blazor.DropDowns;
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.LinearGauge
@using Syncfusion.Blazor.Layouts
@using Syncfusion.Blazor.Popups
@using AIS.Data.RequestResponseModel.MasterData;
@using AdminDashboard.Server.Models.SyllabusDetails;
@using AdminDashboard.Server.Models.MasterConfiguration.UnitMaster;
@using AdminDashboard.Server.Models.MasterConfiguration.SubjectMaster;


@page "/Syllabus/SyllabusPlanDetails"
@inherits SyllabusPlanDetailsBase
@*Start Master Class List Details*@

@{

    var InitSearch2 = (new string[] { "unitTitle", "subjectName", "unitDescription",
                                        "chapterTitle", "chapterDescription" ,
                                         "topicTitle", "topicDescription" ,
                            }
                      );
    var Tool = (new List<string>() { "Search" });
    var InitialGroupColumn = (new string[] { "monthNameDetails" });
}
<MudGrid>
    <SfDashboardLayout CellSpacing="@(new double[]{20 ,20 })" Columns="7" CellAspectRatio="2" AllowResizing="true">
        <DashboardLayoutPanels>
            <DashboardLayoutPanel SizeX=7 SizeY="2">
                <HeaderTemplate>Syllabus Plan Details</HeaderTemplate>
                <ContentTemplate>
                    <SfGrid DataSource="@syllabusSetupListModels"
                            EnableVirtualMaskRow="true"
                            RowHeight="38" Height="410"
                            Width="auto" EnableVirtualization="false"
                            AllowResizing="true" AllowExcelExport="true"
                            EnableAutoFill="true" AllowReordering="true"
                            ShowColumnChooser="false" AllowGrouping="true" AllowSorting="true"
                            AllowFiltering="true" AllowPaging="true" ShowColumnMenu="true"
                            ContextMenuItems="MenuItems"
                            @ref="sfSyllabusGrid"
                            Toolbar="classMasterItem">
                        <GridFilterSettings Type="@Syncfusion.Blazor.Grids.FilterType.CheckBox"></GridFilterSettings>
                        <GridPageSettings PageCount="20" PageSizes="true"></GridPageSettings>
                        @* <GridGroupSettings Columns="@InitialGroupColumn"></GridGroupSettings>*@
                        <GridGroupSettings Columns=@InitialGroupColumn>
                            <CaptionTemplate>
                                @{
                                    var UnitDetails = (context as CaptionTemplateContext);
                                    <div>@UnitDetails.Field - @UnitDetails.Key</div>
                                }
                            </CaptionTemplate>
                        </GridGroupSettings>

                        <GridEvents CommandClicked="EditSyllabusMaster" OnToolbarClick="ToolbarClickHandler" TValue="SyllabusSetupListModel"></GridEvents>
                        <GridSearchSettings Fields=@InitSearch2 Operator=Syncfusion.Blazor.Operator.Contains Key=""
                                            IgnoreCase="true"></GridSearchSettings>
                        <GridColumns>
                            <GridColumn Field=@nameof(SyllabusSetupListModel.monthNameDetails) HeaderText="Month" TextAlign="TextAlign.Right" AutoFit=true></GridColumn>
                            <GridColumn Field=@nameof(SyllabusSetupListModel.className) HeaderText="Class" TextAlign="TextAlign.Right" AllowGrouping=true AutoFit=true></GridColumn>
                            <GridColumn Field=@nameof(SyllabusSetupListModel.subjectName) HeaderText="Subject" AutoFit=true></GridColumn>
                            <GridColumn Field=@nameof(SyllabusSetupListModel.unitName) HeaderText="Unit Title" TextAlign="TextAlign.Right" AutoFit=true></GridColumn>
                            <GridColumn Field=@nameof(SyllabusSetupListModel.chapterName) HeaderText="Chapter Description" TextAlign="TextAlign.Right" AutoFit=true></GridColumn>
                            <GridColumn Field=@nameof(SyllabusSetupListModel.topicName) HeaderText="Topic Title" TextAlign="TextAlign.Right" AutoFit=true></GridColumn>
                            <GridColumn HeaderText="Action" Width="20" AutoFit="true" TextAlign="TextAlign.Center">
                                <GridCommandColumns>
                                    <GridCommandColumn Type="CommandButtonType.Edit" ButtonOption="@(new CommandButtonOptions() { Content="Edit", IconCss = "e-icons e-edit e-primary e-outline", CssClass = "e-flat e-info e-outline" })"></GridCommandColumn>
                                    <GridCommandColumn Type="CommandButtonType.Edit" ButtonOption="@(new CommandButtonOptions() { Content = "Delete",IconCss = "e-icons e-delete e-primary e-outline", CssClass = "e-flat e-danger e-outline"  })"></GridCommandColumn>
                                </GridCommandColumns>
                            </GridColumn>
                            <GridColumn Field=@nameof(SyllabusSetupListModel.createdDate) HeaderText="Created Date" TextAlign="TextAlign.Right" AutoFit=true></GridColumn>
                            <GridColumn Field=@nameof(SyllabusSetupListModel.updatedDate) HeaderText="Updated Date" TextAlign="TextAlign.Right" AutoFit=true></GridColumn>
                            @*<GridColumn Field=@nameof(MasterUnitListModel.) HeaderText="CreatedBy User" TextAlign="TextAlign.Right" AutoFit=true></GridColumn>
                            <GridColumn Field=@nameof(MasterUnitListModel.updatedDate) HeaderText="CreatedBy User" TextAlign="TextAlign.Right" AutoFit=true></GridColumn>
                            *@
                        </GridColumns>
                    </SfGrid>
                </ContentTemplate>
            </DashboardLayoutPanel>
        </DashboardLayoutPanels>
    </SfDashboardLayout>
</MudGrid>

<MudGrid>
    <MudItem xs="12" sm="3" md="12">
        <MudItem xs="12" sm="3" md="12">
            <SfDialog @ref="@DialogRef" Width="750px" AllowDragging="true" IsModal="false" ShowCloseIcon="true" @bind-Visible="@IsVisible">
                <DialogEvents OnOpen="onOpen"></DialogEvents>
                <DialogTemplates>
                    <Header>@DialogHeaderName </Header>
                    <Content>
                        <MudGrid>
                            <MudItem xs="12" md="12" sm="3">
                                <EditForm Model="syllabusviewModel" OnValidSubmit="OnValidSubmit">
                                    <DataAnnotationsValidator />
                                    <MudCardContent>
                                        <MudGrid>
                                            <MudItem xs="12" md="6" sm="3">
                                                <SfDropDownList ID="MonthId" Placeholder="Select a Month Name"
                                                                @bind-Value="@syllabusviewModel.MonthId"
                                                                DataSource="@monthNameLists">
                                                    <ValidationMessage For="() => syllabusviewModel.MonthId" />
                                                    <DropDownListFieldSettings Text="MonthName" Value="MonthId"></DropDownListFieldSettings>
                                                </SfDropDownList>
                                            </MudItem>
                                            <MudItem xs="12" md="6" sm="6">
                                                <SfDropDownList ID="ClassId" TValue="string" TItem="MasterClassListModel"
                                                                CssClass="e-outline" Placeholder="Select a Class"
                                                                FloatLabelType="@FloatLabelType.Never"
                                                                AllowFiltering="true"
                                                                Enabled="ddEnable"
                                                                @bind-Value="@syllabusviewModel.ClassId"
                                                                DataSource="@masterClassLists">
                                                    <DropDownListFieldSettings Text="className" Value="masterClassId" />
                                                    <DropDownListEvents TItem="MasterClassListModel" TValue="string" ValueChange="OnChangeClass" />
                                                    <ValidationMessage For="() => syllabusviewModel.ClassId" />
                                                </SfDropDownList>
                                            </MudItem>
                                            <MudItem xs="12" md="6" sm="6">
                                                <SfDropDownList ID="SectionId" TValue="string" TItem="MapsubjectwithClassModel"
                                                                CssClass="e-outline" Placeholder="Select a Subject"
                                                                FloatLabelType="@FloatLabelType.Never" AllowFiltering="true"
                                                                @bind-Value="@syllabusviewModel.SubjectId"
                                                                Enabled="ddEnable"
                                                                DataSource="@_mapsubjectlistModel">
                                                    <DropDownListFieldSettings Text="subjectName" Value="masterSubjectId" />
                                                    <DropDownListEvents TItem="MapsubjectwithClassModel" TValue="string" ValueChange="OnChangeSubject" />
                                                    <ValidationMessage For="() => syllabusviewModel.SubjectId" />
                                                </SfDropDownList>
                                            </MudItem>
                                            <MudItem xs="12" md="12" sm="3">
                                                <SfDropDownList ID="UnitId" TValue="string" TItem="MasterTopicListModel"
                                                                CssClass="e-outline" Placeholder="Select a Unit"
                                                                FloatLabelType="@FloatLabelType.Never" AllowFiltering="true"
                                                                @bind-Value="@syllabusviewModel.UnitId"
                                                                Enabled="ddEnable"
                                                                DataSource="@_unitList">
                                                    <DropDownListEvents TItem="MasterTopicListModel" TValue="string" ValueChange="OnChangeUnit" />
                                                    <DropDownListFieldSettings Text="unitTitle" Value="subjectUnitId" />
                                                    <ValidationMessage For="() => syllabusviewModel.UnitId" />
                                                </SfDropDownList>
                                            </MudItem>
                                            <MudItem xs="12" md="12" sm="3">
                                                <SfDropDownList ID="ChapterId" TValue="string" TItem="MasterTopicListModel"
                                                                CssClass="e-outline" Placeholder="Select a Chapter"
                                                                FloatLabelType="@FloatLabelType.Never" AllowFiltering="true"
                                                                @bind-Value="@syllabusviewModel.ChapterId"
                                                                Enabled="ddEnable"
                                                                DataSource="@_chapterList">
                                                    <DropDownListEvents TItem="MasterTopicListModel" TValue="string" ValueChange="OnChangeChapter" />
                                                    <DropDownListFieldSettings Text="chapterTitle" Value="subjectChapterId" />
                                                    <ValidationMessage For="() => syllabusviewModel.ChapterId" />
                                                </SfDropDownList>
                                            </MudItem>
                                            <MudItem xs="12" md="12" sm="3">
                                                <SfDropDownList ID="TopicId" TValue="string" TItem="MasterTopicListModel"
                                                                CssClass="e-outline" Placeholder="Select a Topic"
                                                                FloatLabelType="@FloatLabelType.Never" AllowFiltering="true"
                                                                @bind-Value="@syllabusviewModel.TopicId"
                                                                Enabled="ddEnable"
                                                                DataSource="@_topicList">
                                                    <DropDownListFieldSettings Text="topicTitle" Value="subjectTopicId" />
                                                    <ValidationMessage For="() => syllabusviewModel.TopicId" />
                                                </SfDropDownList>
                                            </MudItem>
                                            <MudItem xs="12" md="6" sm="6">
                                                <SfButton CssClass=@btncss type="submit" IsPrimary="true">@HeaderText</SfButton>
                                                @*<SfButton CssClass="e-outline" OnClick="@CloseDialog">Cancel</SfButton>*@
                                                <SfButton Type="button" CssClass="e-flat" IsToggle="false " IsPrimary="false" Content="Cancel" OnClick="@CloseDialog"></SfButton>
                                            </MudItem>
                                        </MudGrid>
                                    </MudCardContent>
                                </EditForm>
                            </MudItem>
                        </MudGrid>
                    </Content>
                </DialogTemplates>
                <DialogAnimationSettings Effect="@AnimationEffect" Duration=400 />
            </SfDialog>
        </MudItem>
    </MudItem>
</MudGrid>

<style>
    .e-toolbar-item .e-tbar-btn {
        background-color: powderblue;
    }

    .e-grid .e-rowcell.e-selectionbackground {
        background-color: darkgrey !important;
    }

    .e-popup-full-page .e-popup-full-page.e-ddl.e-popup.e-ddl-device-filter {
        z-index: 10005;
    }
    /*  .e-rowcell.e-attr {
                        background-color: lightgrey;
                    }*/

    /* .e-popup-full-page .e-popup-full-page.e-ddl.e-popup.e-ddl-device-filter {
                        position: fixed;
                    }*/

    /*

                    .e-tab .e-tab-header:not(.e-vertical) .e-indicator, .e-tab .e-tab-header.e-vertical .e-indicator {
                        transition: none;
                    }*/
    /*.e-content .e-item {
                        font-size: 12px;
                        padding: 10px;
                        text-align: justify;
                    }*/
</style>