@using AdminDashboard.Server.User_Pages.SyllabusVideo;
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor
@using AdminDashboard.Server.Models.MasterConfiguration.UnitMaster;
@using AdminDashboard.Server.Models.MasterConfiguration.SubjectMaster;
@using AIS.Data.RequestResponseModel.MasterDataSetUp;
@using AIS.Data.RequestResponseModel.ExamMasterSetup;
@using AIS.Data.RequestResponseModel.Syllabus;
@using AIS.Data.RequestResponseModel.QuestionSetUp;
@using AIS.Model.MasterData;
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Inputs;
@using Syncfusion.Blazor.DropDowns;
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Popups;
@using Syncfusion.Blazor.Layouts;
@using AIS.Data.RequestResponseModel.SyllabusVideo;

@page "/User_Pages/SyllabusVideo/SyllabusVideoList"

@inherits SyllabusVideoListBase

@*Syllabus Video List Details*@


@{

    var InitSearch2 = (new string[] { "unitTitle", "subjectName", "unitDescription", "chapterTitle", "chapterDescription" });
    var Tool = (new List<string>() { "Search" });
    var InitialGroupColumn = (new string[] { "className" });
}
<MudGrid>
    <MudItem xs="12" sm="12" md="6">
        <SfDashboardLayout CellSpacing="@(new double[]{20 ,20 })" Columns="7" CellAspectRatio="2" AllowResizing="true">
            <DashboardLayoutPanels>
                <DashboardLayoutPanel SizeX=7 SizeY="2">
                    <HeaderTemplate>Syllabus Video List</HeaderTemplate>
                    <ContentTemplate>
                        <SfGrid DataSource="@syllabusVideo_Output_Models"
                                EnableVirtualMaskRow="true"
                                RowHeight="38" Height="810"
                                Width="auto" EnableVirtualization="false"
                                AllowResizing="true" AllowExcelExport="true"
                                EnableAutoFill="true" AllowReordering="true"
                                ShowColumnChooser="true" AllowGrouping="true" AllowSorting="true"
                                AllowFiltering="true" AllowPaging="true" ShowColumnMenu="true"
                                ContextMenuItems="MenuItems"
                        @ref="sfsyllabusVideoListGrid"
                                Toolbar="toolBarItems">
                            <GridFilterSettings Type="@Syncfusion.Blazor.Grids.FilterType.CheckBox"></GridFilterSettings>
                            <GridPageSettings PageSizes="@(new string[] { "25", "50","100", "150", "200",  "All" })" PageSize="@pageSize"></GridPageSettings>
                            @* <GridGroupSettings Columns="@InitialGroupColumn"></GridGroupSettings>*@
                            <GridGroupSettings Columns=@InitialGroupColumn>
                                <CaptionTemplate>
                                    @{
                                        var UnitDetails = (context as CaptionTemplateContext);
                                        <div>@UnitDetails.Field - @UnitDetails.Key</div>
                                    }
                                </CaptionTemplate>
                            </GridGroupSettings>

                            <GridEvents OnToolbarClick="toolBarItemsClick" CommandClicked="EditSyllabusVideoCommandClick" TValue=SyllabusVideo_Output_Model></GridEvents>
                            <GridSearchSettings Fields=@InitSearch2 Operator=Syncfusion.Blazor.Operator.Contains Key=""
                                                IgnoreCase="true"></GridSearchSettings>
                            <GridColumns>
                                <GridColumn Field=@nameof(SyllabusVideo_Output_Model.className) HeaderText="Class" TextAlign="TextAlign.Right" AllowGrouping=true AutoFit=true></GridColumn>
                                <GridColumn Field=@nameof(SyllabusVideo_Output_Model.subjectName) HeaderText="Subject" AutoFit=true></GridColumn>
                                <GridColumn Field=@nameof(SyllabusVideo_Output_Model.unitTitle) HeaderText="Unit Title" TextAlign="TextAlign.Right" AutoFit=true></GridColumn>
                                
                                <GridColumn Field=@nameof(SyllabusVideo_Output_Model.chapterTitle) HeaderText="Chapter Title" TextAlign="TextAlign.Right" AutoFit=true></GridColumn>
                                <GridColumn Field=@nameof(SyllabusVideo_Output_Model.topicTitle) HeaderText="Topic Description" TextAlign="TextAlign.Right" AutoFit=true></GridColumn>
                                <GridColumn Field=@nameof(SyllabusVideo_Output_Model.syllabusVideoDescription) HeaderText="Description" TextAlign="TextAlign.Right" AutoFit=true></GridColumn>
                                
                                <GridColumn HeaderText="Action" Width="20" AutoFit="true" TextAlign="TextAlign.Center">
                                 <GridCommandColumns>
                                <GridCommandColumn Type="CommandButtonType.Edit" ButtonOption="@(new CommandButtonOptions() { Content="View Video", IconCss = "e-icons e-edit e-primary e-outline", CssClass = "e-flat e-info e-outline" })"></GridCommandColumn>
                                <GridCommandColumn Type="CommandButtonType.Edit" ButtonOption="@(new CommandButtonOptions() { Content = "Delete",IconCss = "e-icons e-delete e-primary e-outline", CssClass = "e-flat e-danger e-outline"  })"></GridCommandColumn>
                                </GridCommandColumns>
                                </GridColumn>
                                <GridColumn Field=@nameof(SyllabusVideo_Output_Model.createdDate) HeaderText="Created Date" TextAlign="TextAlign.Right" AutoFit=true></GridColumn>
                                <GridColumn Field=@nameof(SyllabusVideo_Output_Model.updatedDate) HeaderText="Updated Date" TextAlign="TextAlign.Right" AutoFit=true></GridColumn>
                                <GridColumn Field=@nameof(SyllabusVideo_Output_Model.createdByUser) HeaderText="CreatedBy User" TextAlign="TextAlign.Right" AutoFit=true></GridColumn>
                                <GridColumn Field=@nameof(SyllabusVideo_Output_Model.updatedByUser) HeaderText="UpdateBy User" TextAlign="TextAlign.Right" AutoFit=true></GridColumn>
                            </GridColumns>
                        </SfGrid>
                    </ContentTemplate>
                </DashboardLayoutPanel>
            </DashboardLayoutPanels>
        </SfDashboardLayout>
    </MudItem>
</MudGrid>



@*Syllabus Video List end*@

@*Only View Video*@

<MudGrid>
    <MudItem xs="12" sm="12" md="12">
        <MudItem xs="12" sm="12" md="12">
            <SfDialog @ref="@DialogRef" Width="1550px" Height="900" AllowDragging="true" IsModal="false" ShowCloseIcon="true" @bind-Visible="@IscurrentVideoVisible">
                <DialogEvents OnOpen="onOpen"></DialogEvents>
                <DialogTemplates>
                    <Header>@DialogHeaderName </Header>
                    <Content>
                        <div class="video-container">
                            <iframe src="@_currentvideoLink" width="1250" height="703" frameborder="0" allowfullscreen></iframe>

                        </div>

                        </Content>
                        </DialogTemplates>
                <DialogAnimationSettings Effect="@dialogAnimationEffect" Duration=400 />
                        </SfDialog>
                        </MudItem>
                        </MudItem>
                        </MudGrid>

@*Start Add Syllabus Video  Dialog*@

<MudGrid>
    <MudItem xs="12" sm="12" md="12">
        <MudItem xs="12" sm="12" md="12">
            <SfDialog @ref="@DialogRef" Width="1550px" Height="900" AllowDragging="true" IsModal="false" ShowCloseIcon="true" @bind-Visible="@IsVisible">
                <DialogEvents OnOpen="onOpen"></DialogEvents>
                <DialogTemplates>
                    <Header>@DialogHeaderName </Header>
                    <Content>
                        <MudGrid>
                            <MudItem xs="12" md="6" sm="12">

                                <EditForm Model="syllabusVideoVewModel" OnValidSubmit="OnValidSubmit">
                                            <DataAnnotationsValidator />
                                            <MudCardContent>
                                                <MudGrid>
                                                    <MudItem xs="12" md="6" sm="6">

                                                        <SfDropDownList ID="ClassId" TValue="string" TItem="Master_CLass_List_Output_Model"
                                                                        CssClass="e-outline" Placeholder="Select a Class"
                                                                        FloatLabelType="@FloatLabelType.Never"
                                                                        AllowFiltering="true"
                                                                        Enabled="ddEnable"
                                                @bind-Value="@syllabusVideoVewModel.masterClassId"
                                                                        DataSource="@master_CLass_List">

                                                            <DropDownListFieldSettings Text="className" Value="classId" />
                                                            <DropDownListEvents TItem="Master_CLass_List_Output_Model" TValue="string"
                                                                                ValueChange="OnChangeClass" />
                                                    <ValidationMessage For="() => syllabusVideoVewModel.masterClassId" />
                                                        </SfDropDownList>
                                                    </MudItem>
                                                    <MudItem xs="12" md="6" sm="6">
                                                        <SfDropDownList ID="SectionId" TValue="string" TItem="Master_Map_Subject_With_Class_List_Output_Model"
                                                                        CssClass="e-outline" Placeholder="Select a Subject"
                                                                        FloatLabelType="@FloatLabelType.Never" AllowFiltering="true"
                                                @bind-Value="@syllabusVideoVewModel.masterSubjectId"
                                                                        Enabled="ddEnable"
                                                                        DataSource="@map_classwithsubject_List">
                                                            <DropDownListFieldSettings Text="subjectName" Value="subjectId" />
                                                            <DropDownListEvents TItem="Master_Map_Subject_With_Class_List_Output_Model" TValue="string"
                                                                                ValueChange="OnChangeSubject" />
                                                    <ValidationMessage For="() => syllabusVideoVewModel.masterSubjectId" />
                                                        </SfDropDownList>
                                                    </MudItem>
                                                    <MudItem xs="12" md="6" sm="6">
                                                        <SfDropDownList ID="UnitId" TValue="string" TItem="Unit_Output_Model"
                                                                        CssClass="e-outline" Placeholder="Select a Unit"
                                                                        FloatLabelType="@FloatLabelType.Never" AllowFiltering="true"
                                                @bind-Value="@syllabusVideoVewModel.SubjectUnitId"
                                                                        Enabled="ddEnable"
                                                                        DataSource="@unitMasterList">

                                                            <DropDownListFieldSettings Text="unitTitle" Value="unitId" />
                                                            <DropDownListEvents TItem="Unit_Output_Model" TValue="string"
                                                                                ValueChange="OnChangeUnit" />
                                                    <ValidationMessage For="() => syllabusVideoVewModel.SubjectUnitId" />
                                                        </SfDropDownList>
                                                    </MudItem>
                                                    <MudItem xs="12" md="6" sm="6">
                                                        <SfDropDownList ID="SectionId" TValue="string" TItem="Chapter_Output_Model"
                                                                        CssClass="e-outline" Placeholder="Select a chapter"
                                                                        FloatLabelType="@FloatLabelType.Never" AllowFiltering="true"
                                                @bind-Value="@syllabusVideoVewModel.subjectChapterId"
                                                                        Enabled="ddEnable"
                                                                        DataSource="@chapterMasterList">
                                                            <DropDownListFieldSettings Text="chapterTitle" Value="chapterID" />
                                                            <DropDownListEvents TItem="Chapter_Output_Model" TValue="string"
                                                                                ValueChange="OnChangeChapter" />
                                                    <ValidationMessage For="() => syllabusVideoVewModel.subjectChapterId" />
                                                        </SfDropDownList>
                                                    </MudItem>
                                                    <MudItem xs="12" md="6" sm="6">
                                                        <SfDropDownList ID="TopicId" TValue="string" TItem="Topic_Output_Model"
                                                                        CssClass="e-outline" Placeholder="Select a topic"
                                                                        FloatLabelType="@FloatLabelType.Never" AllowFiltering="true"
                                                @bind-Value="@syllabusVideoVewModel.subjectTopicId" Enabled="ddEnable"
                                                                        DataSource="@_topicMasterList">
                                                            <DropDownListFieldSettings Text="topicTitle" Value="topicID" />

                                                    <ValidationMessage For="() => syllabusVideoVewModel.subjectTopicId" />
                                                            <DropDownListEvents TItem="Topic_Output_Model" TValue="string"
                                                                                ValueChange="OnChangeTopic" />

                                                        </SfDropDownList>
                                                    </MudItem>
                                            <MudItem xs="12" md="6" sm="6">
                                                <SfTextBox CssClass="e-outline" Placeholder="Enter Video Link " Type="Syncfusion.Blazor.Inputs.InputType.Text"
                                                @bind-Value="@syllabusVideoVewModel.syllabusVideoLink"
                                                           FloatLabelType="@FloatLabelType.Never"></SfTextBox>
                                                <ValidationMessage For="() => syllabusVideoVewModel.syllabusVideoLink" />
                                            </MudItem>
                                            <MudItem xs="12" md="6" sm="6">
                                                <SfTextBox CssClass="e-outline" Placeholder="Enter Video Description " Type="Syncfusion.Blazor.Inputs.InputType.Text"
                                                @bind-Value="@syllabusVideoVewModel.syllabusVideoDescription"
                                                           FloatLabelType="@FloatLabelType.Never"></SfTextBox>
                                                <ValidationMessage For="() => syllabusVideoVewModel.syllabusVideoDescription" />
                                            </MudItem>
                                            <MudItem xs="12" md="6" sm="6">
                                                <SfButton CssClass=@btncss type="submit" IsPrimary="true" >@HeaderText</SfButton>
                                                @*  <SfButton CssClass="e-outline" OnClick="@CloseDialog">Cancel</SfButton> *@
                                                <SfButton Type="button" CssClass="e-flat" IsToggle="false " IsPrimary="false" Content="Video Preview" OnClick="@VideoPreview"></SfButton>
                                                <SfButton Type="button" CssClass="e-flat" IsToggle="false " IsPrimary="false" Content="Cancel" OnClick="@CloseDialog"></SfButton>
                                            </MudItem>
                                        </MudGrid>
                                                </MudCardContent>
                                </EditForm>
                        </MudItem>

                            <MudItem xs="12" md="6" sm="12">
                             
                                    
                                <div class="video-container">
                                    <iframe src="@_videoPreviewLink" width="1250" height="703" frameborder="0" allowfullscreen></iframe>
                                    
                                </div>
                               @*  <iframe width="1250" height="703" src="https://www.youtube.com/embed/RXWZhBwPr_g" title="Chiropractic treatment for Severe Back pain."
                                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> *@


                            </MudItem>
                    </MudGrid>
                    </Content>
                </DialogTemplates>
                <DialogAnimationSettings Effect="@dialogAnimationEffect" Duration=400 />
            </SfDialog>
        
        </MudItem>
        
    </MudItem>
</MudGrid>

                                                    

@code {
    private string Xvalue = "center";
    private string Yvalue = "center";

    
    /*
    * Gets or sets the name of the animation that should be used when opening and closing the SfDialog.
    * The following are the list of animation effects available to configure to the dialog:

       Fade
       FadeZoom
       FlipLeftDown
       FlipLeftUp
       FlipRightDown
       FlipRightUp
       FlipXDown
       FlipXUp
       FlipYLeft
       FlipYRight
       SlideBottom
       SlideLeft
    SlideRight
    SlideTop
        Zoom
       None.
    */

}




<style>
    .e-toolbar-item .e-tbar-btn {
        background-color: orange;
    }

    .e-grid .e-rowcell.e-selectionbackground {
        background-color: darkgrey !important;
    }

    .e-popup-full-page .e-popup-full-page.e-ddl.e-popup.e-ddl-device-filter {
        z-index: 10005;
    }

    .e-dialog .e-dlg-header {
        color: cornflowerblue;
        font-size: 20px;
        font-weight: normal;
    }



    html,
    body,
    #container {
        height: 100%;
        overflow: hidden;
        width: 100%;
        position: relative;
        min-height: 400px;
    }

    .text {
        text-transform: capitalize;
    }

    #customization {
        display: table;
        margin: 0 auto;
    }

    .animate {
        display: table-cell;
        padding-left: 20px;
    }

    @@media only screen and (max-width: 360px) {
        #customization {
            display: inline-block;
            margin: 0 auto;
            text-align: center;
        }

        .animate {
            display: inline-block;
            padding: 10px;
        }
    }

    .container {
        text-align: center;
        margin-top: 20px;
    }

    .video-container {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px;
        height: 0;
        overflow: hidden;
    }

        .video-container iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    /*  .e-rowcell.e-attr {
                            background-color: lightgrey;
                        }*/

    /* .e-popup-full-page .e-popup-full-page.e-ddl.e-popup.e-ddl-device-filter {
                            position: fixed;
                        }*/

    /*

                        .e-tab .e-tab-header:not(.e-vertical) .e-indicator, .e-tab .e-tab-header.e-vertical .e-indicator {
                            transition: none;
                        }*/
    /*.e-content .e-item {
                            font-size: 12px;
                            padding: 10px;
                            text-align: justify;
                        }*/
</style>