@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Inputs;
@using Syncfusion.Blazor.DropDowns;
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.LinearGauge
@using Syncfusion.Blazor.Layouts
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Charts
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor
@using System.Linq;
@using AIS.Data.RequestResponseModel.Syllabus;
@using AIS.Data.RequestResponseModel.MasterDataSetUp;
@page "/User_Pages/Syllabus/ChapterMasterSetup"
@inherits ChapterMasterSetupBase

@{

    var InitSearch2 = (new string[] { "unitTitle", "subjectName", "unitDescription", "chapterTitle", "chapterDescription" });
    var Tool = (new List<string>() { "Search" });
    var InitialGroupColumn = (new string[] { "className" });
}
<MudGrid>
    <MudItem xs="12" sm="12" md="6">
    <SfDashboardLayout CellSpacing="@(new double[]{20 ,20 })" Columns="7" CellAspectRatio="2" AllowResizing="true">
        <DashboardLayoutPanels>
            <DashboardLayoutPanel SizeX=7 SizeY="2">
                <HeaderTemplate>Chapter Master Details</HeaderTemplate>
                <ContentTemplate>
                    <SfGrid DataSource="@chapterMasterList"
                            EnableVirtualMaskRow="true"
                            RowHeight="38" Height="810"
                            Width="auto" EnableVirtualization="false"
                            AllowResizing="true" AllowExcelExport="true"
                            EnableAutoFill="true" AllowReordering="true"
                            ShowColumnChooser="true" AllowGrouping="true" AllowSorting="true"
                            AllowFiltering="true" AllowPaging="true" ShowColumnMenu="true"
                            ContextMenuItems="MenuItems"
                            @ref="sfUnitGrid"
                                Toolbar="toolBarItems">
                        <GridFilterSettings Type="@Syncfusion.Blazor.Grids.FilterType.CheckBox"></GridFilterSettings>
                            <GridPageSettings PageSizes="@(new string[] { "25", "50","100", "150", "200",  "All" })" PageSize="@pageSize"></GridPageSettings>
                        @* <GridGroupSettings Columns="@InitialGroupColumn"></GridGroupSettings>*@
                        <GridGroupSettings Columns=@InitialGroupColumn>
                            <CaptionTemplate>
                                @{
                                    var UnitDetails = (context as CaptionTemplateContext);
                                    <div>@UnitDetails.Field - @UnitDetails.Key</div>
                                }
                            </CaptionTemplate>
                        </GridGroupSettings>

                            <GridEvents OnToolbarClick="toolBarItemsToolBar" TValue=Chapter_Output_Model></GridEvents>
                        <GridSearchSettings Fields=@InitSearch2 Operator=Syncfusion.Blazor.Operator.Contains Key=""
                                            IgnoreCase="true"></GridSearchSettings>
                        <GridColumns>
                            <GridColumn Field=@nameof(Chapter_Output_Model.className) HeaderText="Class" TextAlign="TextAlign.Right" AllowGrouping=true AutoFit=true></GridColumn>
                            <GridColumn Field=@nameof(Chapter_Output_Model.subjectName) HeaderText="Subject" AutoFit=true></GridColumn>
                            <GridColumn Field=@nameof(Chapter_Output_Model.unitTitle) HeaderText="Unit Title" TextAlign="TextAlign.Right" AutoFit=true></GridColumn>
                                <GridColumn Field=@nameof(Chapter_Output_Model.unitDescription) HeaderText="Unit Description" Visible="false" TextAlign="TextAlign.Right" AutoFit=true></GridColumn>
                            <GridColumn Field=@nameof(Chapter_Output_Model.chapterTitle) HeaderText="Chapter Title" TextAlign="TextAlign.Right" AutoFit=true></GridColumn>
                            <GridColumn Field=@nameof(Chapter_Output_Model.chapterDescription) HeaderText="Chapter Description" TextAlign="TextAlign.Right" AutoFit=true></GridColumn>
                            @* <GridColumn HeaderText="Action" Width="20" AutoFit="true" TextAlign="TextAlign.Center">
                               @*  <GridCommandColumns>
                                    <GridCommandColumn Type="CommandButtonType.Edit" ButtonOption="@(new CommandButtonOptions() { Content="Edit", IconCss = "e-icons e-edit e-primary e-outline", CssClass = "e-flat e-info e-outline" })"></GridCommandColumn>
                                    <GridCommandColumn Type="CommandButtonType.Edit" ButtonOption="@(new CommandButtonOptions() { Content = "Delete",IconCss = "e-icons e-delete e-primary e-outline", CssClass = "e-flat e-danger e-outline"  })"></GridCommandColumn>
                                </GridCommandColumns>  
                            </GridColumn> *@
                                <GridColumn Field=@nameof(Chapter_Output_Model.createdDate) HeaderText="Created Date" TextAlign="TextAlign.Right" AutoFit=true></GridColumn>
                                <GridColumn Field=@nameof(Chapter_Output_Model.updatedDate) HeaderText="Updated Date"  TextAlign="TextAlign.Right" AutoFit=true></GridColumn>
                                <GridColumn Field=@nameof(Chapter_Output_Model.createdByUser) HeaderText="CreatedBy User"  TextAlign="TextAlign.Right" AutoFit=true></GridColumn>
                            <GridColumn Field=@nameof(Chapter_Output_Model.updatedByUser) HeaderText="UpdateBy User" TextAlign="TextAlign.Right" AutoFit=true></GridColumn>
                            </GridColumns>
                    </SfGrid>
                </ContentTemplate>
            </DashboardLayoutPanel>
        </DashboardLayoutPanels>
    </SfDashboardLayout>
    </MudItem>
</MudGrid>

@*Add New Chapter details*@
<MudGrid>
   
        <MudItem xs="12" sm="12" md="12">
        <SfDialog @ref="@DialogRef" Width="1450px" AllowDragging="true" IsModal="false" ShowCloseIcon="true" @bind-Visible="@IsVisible">
                <DialogEvents OnOpen="onOpen"></DialogEvents>
                <DialogTemplates>
                    <Header>@DialogHeaderName </Header>
                    <Content>
                        <MudGrid>
                            <MudItem xs="12" md="6" sm="12">
                                 <EditForm Model="chapterMasterViewModel" OnValidSubmit="OnValidSubmit">
                                    <DataAnnotationsValidator />
                                    <MudCardContent>
                                        <MudGrid>
                                            <MudItem xs="12" md="6" sm="6">

                                                <SfDropDownList ID="ClassId" TValue="string" TItem="Master_CLass_List_Output_Model"
                                                                CssClass="e-outline" Placeholder="Select a Class" FilterType="Syncfusion.Blazor.DropDowns.FilterType.Contains"
                                                                FloatLabelType="@FloatLabelType.Never"
                                                                AllowFiltering="true"
                                                                Enabled="ddEnable"
                                                                @bind-Value="@chapterMasterViewModel.classId"
                                                                DataSource="@master_CLass_List">

                                                    <DropDownListFieldSettings Text="className" Value="classId" />
                                                    <DropDownListEvents TItem="Master_CLass_List_Output_Model" TValue="string"
                                                                        ValueChange="OnChangeClass" />
                                                    <ValidationMessage For="() => chapterMasterViewModel.classId" />
                                                </SfDropDownList>

                                            </MudItem>
                                            <MudItem xs="12" md="6" sm="6">
                                                <SfDropDownList ID="SectionId" TValue="string" TItem="Master_Map_Subject_With_Class_List_Output_Model"
                                                                CssClass="e-outline" Placeholder="Select a Subject" FilterType="Syncfusion.Blazor.DropDowns.FilterType.Contains"
                                                                FloatLabelType="@FloatLabelType.Never" AllowFiltering="true"
                                                                @bind-Value="@chapterMasterViewModel.subjectId"
                                                                Enabled="ddEnable"
                                                                DataSource="@map_classwithsubject_List">
                                                    <DropDownListFieldSettings Text="subjectName" Value="subjectId" />
                                                    <DropDownListEvents TItem="Master_Map_Subject_With_Class_List_Output_Model" TValue="string"
                                                                        ValueChange="OnChangeSubject" />
                                                    <ValidationMessage For="() => chapterMasterViewModel.subjectId" />
                                                </SfDropDownList>
                                            </MudItem>

                                            <MudItem xs="12" md="6" sm="6">
                                                <SfDropDownList ID="SectionId" TValue="string" TItem="Unit_Output_Model"
                                                                CssClass="e-outline" Placeholder="Select a Unit" FilterType="Syncfusion.Blazor.DropDowns.FilterType.Contains"
                                                                FloatLabelType="@FloatLabelType.Never" AllowFiltering="true"
                                                                @bind-Value="@chapterMasterViewModel.unitId"
                                                                Enabled="ddEnable" 
                                                                DataSource="@unitMasterList">
                                                    <DropDownListFieldSettings Text="unitTitle" Value="unitId" />
                                                    <DropDownListEvents TItem="Unit_Output_Model" TValue="string"
                                                                        ValueChange="OnChangeUnit" />
                                                    <ValidationMessage For="() => chapterMasterViewModel.unitId" />
                                                </SfDropDownList>
                                            </MudItem>

                                            <MudItem xs="12" md="6" sm="6">
                                                <SfTextBox CssClass="e-outline" Placeholder="Enter Chapter Title" Type="Syncfusion.Blazor.Inputs.InputType.Text"
                                                           @bind-Value="@chapterMasterViewModel.chapterTitile"
                                                           FloatLabelType="@FloatLabelType.Never"></SfTextBox>
                                                <ValidationMessage For="() => chapterMasterViewModel.chapterTitile" />
                                            </MudItem>
                                            <MudItem xs="12" md="6" sm="6">
                                                <SfTextBox CssClass="e-outline" Placeholder="Enter Chapter Description" Type="Syncfusion.Blazor.Inputs.InputType.Text"
                                                           @bind-Value="@chapterMasterViewModel.chapterDescription"
                                                           FloatLabelType="@FloatLabelType.Never"></SfTextBox>
                                                <ValidationMessage For="() => chapterMasterViewModel.chapterDescription" />
                                            </MudItem>
                                            <MudItem xs="12" md="6" sm="6">
                                                <SfButton CssClass=@btncss type="submit" IsPrimary="true">@HeaderText</SfButton>
                                                @*  <SfButton CssClass="e-outline" OnClick="@CloseDialog">Cancel</SfButton> *@
                                                <SfButton Type="button" CssClass="e-flat" IsToggle="false " IsPrimary="false" Content="Cancel" OnClick="@CloseDialog"></SfButton>
                                            </MudItem>
                                        </MudGrid>
                                    </MudCardContent>
                                </EditForm>
                            </MudItem>
                           <MudItem xs="12" md="6" sm="12">
                                <SfGrid DataSource="@_unitchapterMasterList"
                                        EnableVirtualMaskRow="true"
                                        RowHeight="38" Height="410"
                                        Width="auto" EnableVirtualization="false"
                                        AllowResizing="true" AllowExcelExport="true"
                                        EnableAutoFill="true" AllowReordering="true"
                                        ShowColumnChooser="true" AllowGrouping="true" AllowSorting="true"
                                        AllowFiltering="true" AllowPaging="true" ShowColumnMenu="true"
                                        ContextMenuItems="MenuItems"
                                @ref="sfUnitchapterGrid"
                                        Toolbar="chapterlistMasterItem">
                                    <GridFilterSettings Type="@Syncfusion.Blazor.Grids.FilterType.CheckBox"></GridFilterSettings>
                                    <GridPageSettings PageCount="20" PageSizes="true"></GridPageSettings>
                                    @* <GridGroupSettings Columns="@InitialGroupColumn"></GridGroupSettings>*@
                                    <GridGroupSettings Columns=@InitialGroupColumn>
                                        <CaptionTemplate>
                                            @{
                                                var UnitDetails = (context as CaptionTemplateContext);
                                                <div>@UnitDetails.Field - @UnitDetails.Key</div>
                                            }
                                        </CaptionTemplate>
                                    </GridGroupSettings>

                                    <GridEvents CommandClicked="EditChapterMaster" OnToolbarClick="chapterlistToolBar" TValue=Chapter_Output_Model></GridEvents>
                                    <GridSearchSettings Fields=@InitSearch2 Operator=Syncfusion.Blazor.Operator.Contains Key=""
                                                        IgnoreCase="true"></GridSearchSettings>
                                    <GridColumns>
                                        <GridColumn Field=@nameof(Chapter_Output_Model.className) HeaderText="Class" TextAlign="TextAlign.Right" AllowGrouping=true AutoFit=true></GridColumn>
                                        <GridColumn Field=@nameof(Chapter_Output_Model.subjectName) HeaderText="Subject" AutoFit=true></GridColumn>
                                        @* <GridColumn Field=@nameof(Chapter_Output_Model.unitTitle) HeaderText="Unit Title" TextAlign="TextAlign.Right" AutoFit=true></GridColumn> *@
                                       @*  <GridColumn Field=@nameof(Chapter_Output_Model.unitDescription) HeaderText="Unit Description" Visible="false" TextAlign="TextAlign.Right" AutoFit=true></GridColumn> *@
                                        <GridColumn Field=@nameof(Chapter_Output_Model.chapterTitle) HeaderText="Chapter Title" TextAlign="TextAlign.Right" AutoFit=true></GridColumn>
                                        <GridColumn Field=@nameof(Chapter_Output_Model.chapterDescription) HeaderText="Chapter Description" TextAlign="TextAlign.Right" AutoFit=true></GridColumn>
                                        <GridColumn HeaderText="Action" Width="20" AutoFit="true" TextAlign="TextAlign.Center">
                                            <GridCommandColumns>
                                                <GridCommandColumn Type="CommandButtonType.Edit" ButtonOption="@(new CommandButtonOptions() { Content="Edit", IconCss = "e-icons e-edit e-primary e-outline", CssClass = "e-flat e-info e-outline" })"></GridCommandColumn>
                                                <GridCommandColumn Type="CommandButtonType.Edit" ButtonOption="@(new CommandButtonOptions() { Content = "Delete",IconCss = "e-icons e-delete e-primary e-outline", CssClass = "e-flat e-danger e-outline"  })"></GridCommandColumn>
                                            </GridCommandColumns>
                                        </GridColumn>
                                        @* <GridColumn Field=@nameof(Chapter_Output_Model.createdDate) HeaderText="Created Date" Visible="false" TextAlign="TextAlign.Right" AutoFit=true></GridColumn>
                                        <GridColumn Field=@nameof(Chapter_Output_Model.updatedDate) HeaderText="Updated Date" Visible="false" TextAlign="TextAlign.Right" AutoFit=true></GridColumn>
                                        <GridColumn Field=@nameof(Chapter_Output_Model.createdByUser) HeaderText="CreatedBy User" Visible="false" TextAlign="TextAlign.Right" AutoFit=true></GridColumn>
                                        <GridColumn Field=@nameof(Chapter_Output_Model.updatedByUser) HeaderText="UpdateBy User" TextAlign="TextAlign.Right" AutoFit=true></GridColumn> *@
                                    </GridColumns>
                                </SfGrid>
                           </MudItem>
                        </MudGrid>
                    </Content>
                </DialogTemplates>
                @*<DialogAnimationSettings Effect="@AnimationEffect" Duration=400 />*@
                @*<DialogAnimationSettings Effect="@animationEffect" Duration=400 />*@
                <DialogAnimationSettings Delay="400" Effect="DialogEffect.FlipXDown">
                </DialogAnimationSettings>
                <DialogPositionData X="center" Y="center"></DialogPositionData>
            </SfDialog>
        </MudItem>
     
</MudGrid>

 
 

 

<style>
    .e-toolbar-item .e-tbar-btn {
        background-color: orange;
    }

    .e-grid .e-rowcell.e-selectionbackground {
        background-color: darkgrey !important;
    }

    .e-popup-full-page .e-popup-full-page.e-ddl.e-popup.e-ddl-device-filter {
        z-index: 10005;
    }

    .e-dialog .e-dlg-header {
        color: cornflowerblue;
        font-size: 20px;
        font-weight: normal;
    }



    html,
    body,
    #container {
        height: 100%;
        overflow: hidden;
        width: 100%;
        position: relative;
        min-height: 400px;
    }

    .text {
        text-transform: capitalize;
    }

    #customization {
        display: table;
        margin: 0 auto;
    }

    .animate {
        display: table-cell;
        padding-left: 20px;
    }

    @@media only screen and (max-width: 360px) {
        #customization {
            display: inline-block;
            margin: 0 auto;
            text-align: center;
        }

        .animate {
            display: inline-block;
            padding: 10px;
        }
    }
    /*  .e-rowcell.e-attr {
                        background-color: lightgrey;
                    }*/

    /* .e-popup-full-page .e-popup-full-page.e-ddl.e-popup.e-ddl-device-filter {
                        position: fixed;
                    }*/

    /*

                    .e-tab .e-tab-header:not(.e-vertical) .e-indicator, .e-tab .e-tab-header.e-vertical .e-indicator {
                        transition: none;
                    }*/
    /*.e-content .e-item {
                        font-size: 12px;
                        padding: 10px;
                        text-align: justify;
                    }*/
</style>