@using Syncfusion.Blazor.Cards
@using Syncfusion.Blazor.Charts
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Inputs;
@using Syncfusion.Blazor.DropDowns;
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.LinearGauge
@using Syncfusion.Blazor.Layouts
@using Syncfusion.Blazor.Popups
@using AIS.Data.RequestResponseModel.RemarksTypeMaster;

@using Syncfusion.Blazor.Grids

@inherits RemaksTypeDescriptionBase

@page "/User_Pages/MasterData/RemarksTypeDescription"

@{


    var InitSearch2 = (new string[] { "holidayType" });
    var Tool = (new List<string>() { "Search" });
    //var InitialGroupColumn = (new string[] { "className" });
}

<MudGrid>
    <MudItem xs="12" sm="12" md="6">
    <SfDashboardLayout CellSpacing="@(new double[]{20 ,20 })" Columns="7" CellAspectRatio="2" AllowResizing="true">
        <DashboardLayoutPanels>
            <DashboardLayoutPanel SizeX=7 SizeY="2">
                <HeaderTemplate>Remark Type Master</HeaderTemplate>
                <ContentTemplate>
                        <SfGrid DataSource="@_remarksTypeDescriptionList"
                            
                                EnableVirtualMaskRow="true"
                                RowHeight="38" Height="710"
                                Width="auto" EnableVirtualization="false"
                                AllowResizing="true" AllowExcelExport="true"
                                EnableAutoFill="true" AllowReordering="true"
                                ShowColumnChooser="true" AllowGrouping="true" AllowSorting="true"
                                AllowFiltering="true" AllowPaging="true" ShowColumnMenu="true"
                            ContextMenuItems="MenuItems"
                        @ref="sfremarksTypeList"
                                Toolbar="toolBarListItems">
                        <GridFilterSettings Type="@Syncfusion.Blazor.Grids.FilterType.CheckBox"></GridFilterSettings>
                            <GridPageSettings PageSizes="@(new string[] { "25", "50","100", "150", "200",  "All" })" PageSize="@pageSize"></GridPageSettings>
                        <GridPageSettings PageCount="25" PageSizes="true"></GridPageSettings>
                        @* <GridGroupSettings Columns="@InitialGroupColumn"></GridGroupSettings>*@
                        @* <GridGroupSettings Columns=@InitialGroupColumn>
                        <CaptionTemplate>
                        @{
                        var UnitDetails = (context as CaptionTemplateContext);
                        <div>@UnitDetails.Field - @UnitDetails.Key</div>
                        }
                        </CaptionTemplate>
                        </GridGroupSettings>*@

                            <GridEvents CommandClicked="EditRemarksTypeList" OnToolbarClick="ToolbarClickHandler" TValue="RemarksTypeDescriptionListModel"></GridEvents>
                        <GridSearchSettings Fields=@InitSearch2 Operator=Syncfusion.Blazor.Operator.Contains Key=""
                                            IgnoreCase="true"></GridSearchSettings>
                        <GridColumns>
                                <GridColumn Field=@nameof(RemarksTypeDescriptionListModel.remarksTypeDescriptionID) HeaderText="ID" TextAlign="TextAlign.Right" AllowGrouping=true AutoFit=true></GridColumn>
                                <GridColumn Field=@nameof(RemarksTypeDescriptionListModel.remarksTypeTitle) HeaderText="Remarks Title" AutoFit=true></GridColumn>
                                <GridColumn Field=@nameof(RemarksTypeDescriptionListModel.remarksTypeDescriptionTitle) HeaderText="Description Title" TextAlign="TextAlign.Right" Width="220"></GridColumn>
                                <GridColumn Field=@nameof(RemarksTypeDescriptionListModel.remarksTypeDescriptionTitleDetails) HeaderText="Description Details" TextAlign="TextAlign.Right" Width="220"></GridColumn>
                                
                                <GridColumn Field=@nameof(RemarksTypeDescriptionListModel.displayOrder) HeaderText="Display Order" TextAlign="TextAlign.Right" Width="220"></GridColumn>
                            <GridColumn HeaderText="Action" Width="20" AutoFit="true" TextAlign="TextAlign.Center">
                                <GridCommandColumns>
                                    <GridCommandColumn Type="CommandButtonType.Edit" ButtonOption="@(new CommandButtonOptions() { Content="Edit", IconCss = "e-icons e-edit e-primary e-outline", CssClass = "e-flat e-info e-outline" })"></GridCommandColumn>
                                    <GridCommandColumn Type="CommandButtonType.Edit" ButtonOption="@(new CommandButtonOptions() { Content = "Delete",IconCss = "e-icons e-delete e-primary e-outline", CssClass = "e-flat e-danger e-outline"  })"></GridCommandColumn>
                                </GridCommandColumns>
                            </GridColumn>
                                <GridColumn Field=@nameof(RemarksTypeDescriptionListModel.createdByUser) HeaderText="Created User" TextAlign="TextAlign.Right" AutoFit=true></GridColumn>
                                <GridColumn Field=@nameof(RemarksTypeDescriptionListModel.createdDate) HeaderText="Created Date" TextAlign="TextAlign.Right" AutoFit=true></GridColumn>
                                <GridColumn Field=@nameof(RemarksTypeDescriptionListModel.updatedByUser) HeaderText="Updated User" TextAlign="TextAlign.Right" AutoFit=true></GridColumn>
                                <GridColumn Field=@nameof(RemarksTypeDescriptionListModel.updatedDate) HeaderText="Updated Date" TextAlign="TextAlign.Right" AutoFit=true></GridColumn>
                          
                        </GridColumns>
                    </SfGrid>
                </ContentTemplate>
            </DashboardLayoutPanel>
        </DashboardLayoutPanels>
    </SfDashboardLayout>

</MudItem>
</MudGrid>


<MudGrid>
    <MudItem xs="12" sm="3" md="12">
        <MudItem xs="12" sm="3" md="12">
            <SfDialog @ref="@DialogRef" Width="750px" AllowDragging="true" IsModal="false" ShowCloseIcon="true" @bind-Visible="@IsVisible">
                <DialogEvents OnOpen="onOpen"></DialogEvents>
                <DialogTemplates>
                    <Header>
                        @DialogHeaderName
                    </Header>
                    <Content>
                        <MudGrid>
                            <MudItem xs="12" md="12" sm="3">
                                <EditForm Model="remarksTypeViewModel" OnValidSubmit="OnValidSubmit">
                                    <DataAnnotationsValidator />
                                    <MudCardContent>
                                        <MudGrid>
                                            <SfDropDownList ID="ClassId" TValue="string" TItem="RemarksTypeListModel"
                                                            CssClass="e-outline" Placeholder="Select a Class"
                                                            FloatLabelType="@FloatLabelType.Never"
                                                            AllowFiltering="true"
                                                            Enabled="ddEnable"
                                            @bind-Value="@remarksTypeViewModel.remarksTypeId"
                                                            DataSource="@_remarksTypeList">

                                                <DropDownListFieldSettings Text="remarksTitle" Value="remarksTypeID" />
                                               
                                                <ValidationMessage For="() => remarksTypeViewModel.remarksTypeId" />
                                            </SfDropDownList>
                                            <MudItem xs="12" md="6" sm="6">
                                                <SfTextBox CssClass="e-outline" Placeholder="Remarks Description" Type="Syncfusion.Blazor.Inputs.InputType.Text"
                                                           @bind-Value="@remarksTypeViewModel.remarksTypeDescriptionTitle"
                                                           FloatLabelType="@FloatLabelType.Never"></SfTextBox>
                                                <ValidationMessage For="() => remarksTypeViewModel.remarksTypeDescriptionTitle" />
                                            </MudItem>
                                            <MudItem xs="12" md="6" sm="6">
                                                <SfTextBox CssClass="e-outline" Placeholder="Remarks Description" Type="Syncfusion.Blazor.Inputs.InputType.Text"
                                                @bind-Value="@remarksTypeViewModel.remarksTypeDescriptionTitleDetails"
                                                           FloatLabelType="@FloatLabelType.Never"></SfTextBox>
                                                <ValidationMessage For="() => remarksTypeViewModel.remarksTypeDescriptionTitleDetails" />
                                            </MudItem>
                                            <MudItem xs="12" md="6" sm="6">
                                                <SfNumericTextBox CssClass="e-outline" Placeholder="Display Order" Type="Syncfusion.Blazor.Inputs.InputType.Number"
                                                           @bind-Value="@remarksTypeViewModel.displayOrder"
                                                           FloatLabelType="@FloatLabelType.Never"></SfNumericTextBox>
                                                <ValidationMessage For="() => remarksTypeViewModel.displayOrder" />
                                            </MudItem>
                                            <MudItem xs="12" md="6" sm="6">
                                                <SfButton CssClass=@btncss type="submit" IsPrimary="true">@HeaderText</SfButton>
                                                @*<SfButton CssClass="e-outline" OnClick="@CloseDialog">Cancel</SfButton>*@
                                                <SfButton Type="button" CssClass="e-flat" IsToggle="false " IsPrimary="false" Content="Cancel" OnClick="@CloseDialog"></SfButton>
                                            </MudItem> 
                                        </MudGrid>
                                    </MudCardContent>
                                </EditForm>
                            </MudItem>
                        </MudGrid>
                        
                    </Content>
                </DialogTemplates>
                <DialogAnimationSettings Effect="@AnimationEffect" Duration=400 />
            </SfDialog>
        </MudItem>
    </MudItem>
</MudGrid>


<style>
    .e-toolbar-item .e-tbar-btn {
        background-color: orange;
    }

    .e-grid .e-rowcell.e-selectionbackground {
        background-color: darkgrey !important;
    }

    .e-popup-full-page .e-popup-full-page.e-ddl.e-popup.e-ddl-device-filter {
        z-index: 10005;
    }

    .e-dialog .e-dlg-header {
        color: cornflowerblue;
        font-size: 20px;
        font-weight: normal;
    }



    html,
    body,
    #container {
        height: 100%;
        overflow: hidden;
        width: 100%;
        position: relative;
        min-height: 400px;
    }

    .text {
        text-transform: capitalize;
    }

    #customization {
        display: table;
        margin: 0 auto;
    }

    .animate {
        display: table-cell;
        padding-left: 20px;
    }

    @@media only screen and (max-width: 360px) {
        #customization {
            display: inline-block;
            margin: 0 auto;
            text-align: center;
        }

        .animate {
            display: inline-block;
            padding: 10px;
        }
    }
    /*  .e-rowcell.e-attr {
                            background-color: lightgrey;
                        }*/

    /* .e-popup-full-page .e-popup-full-page.e-ddl.e-popup.e-ddl-device-filter {
                            position: fixed;
                        }*/

    /*

                        .e-tab .e-tab-header:not(.e-vertical) .e-indicator, .e-tab .e-tab-header.e-vertical .e-indicator {
                            transition: none;
                        }*/
    /*.e-content .e-item {
                            font-size: 12px;
                            padding: 10px;
                            text-align: justify;
                        }*/
</style>
