@page "/Academic/MasterChapter"

@inject IDialogService DialogService
@inherits MasterChapterListBase
@using AIS.Model.Academic
@using AIS.Model.GeneralConversion


<MudGrid>
    <MudItem xs="12" sm="4" md="3">
        <MudCard Elevation="25">
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText>Add/Update Chapter</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <div class="d-flex justify-center mb-4">
                    <EditForm Model="@masterChapterModel" OnValidSubmit="OnValidSubmit">
                        <DataAnnotationsValidator />
                        <MudCard Elevation="5">
                            <MudCardContent>
                                <MudTextField Label="Subject Name" HelperText="Max. 8 characters"
                                              @bind-Value="masterChapterModel.ChapterTitle" For="@(() => masterChapterModel.ChapterTitle)"
                                              Variant="Variant.Outlined" Margin="Margin.Dense" />
                                <MudTextField Label="Subject Name" HelperText="Max. 8 characters"
                                              @bind-Value="masterChapterModel.ChapterDescription" For="@(() => masterChapterModel.ChapterDescription)"
                                              Variant="Variant.Outlined" Margin="Margin.Dense" />

                              
                                <MudSelect Label="Select Status" @bind-Value="StatusValue" HelperText="Select any one status" Variant="Variant.Outlined" Margin="Margin.Dense" Subject="mt-4">
                                    @foreach (var status in GenericClass.StatusDetails)
                                    {
                                        <MudSelectItem Value="@status">@status</MudSelectItem>
                                    }
                                </MudSelect>
                            </MudCardContent>
                            <MudCardActions class="d-flex justify-space-between align-center">

                                <MudButton @onclick="@(()=>Cancel())" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Cancel" Color="Color.Warning" Size="Size.Small" Subject="ml-n1 my-3">Cancel</MudButton>
                                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Save" Color="Color.Info" Size="Size.Small">@ActionName</MudButton>

                            </MudCardActions>
                        </MudCard>
                    </EditForm>
                </div>

            </MudCardContent>

        </MudCard>
    </MudItem>
    <MudItem xs="12" sm="8" md="9">
        <MudCard Elevation="25">
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText>Subject Details</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <MudGrid>
                    <MudItem xs="12">
                        <MudCard>

                            @if (masterChapterListModel.Count == 0)
                            {
                                <MudProgressCircular Color="Color.Secondary" Indeterminate="true" />
                            }
                            else
                            {
                                <MudTable Items="@MasterChapterList()" Dense="true" Hover="true" Bordered="true" Striped="true"
                                          @bind-SelectedItem="selectedItem" FixedHeader="true" Height="@(true || false ?"300px":"")"
                                          SortLabel="Sort By">
                                    <ToolBarContent>
                                        <MudToolBarSpacer />
                                        <MudTextField @bind-Value="_searchTerm" Placeholder="Search" Adornment="Adornment.End"
                                                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" class="mt-0"
                                                      Variant="Variant.Outlined" Margin="Margin.Dense" Immediate="true"></MudTextField>
                                    </ToolBarContent>
                                    <HeaderContent>
                                        <MudTh><MudTableSortLabel SortBy="new Func<MasterChapterListModel, object>(x=>x.masterChapterId)">ChapterId</MudTableSortLabel></MudTh>
                                        <MudTh><MudTableSortLabel Enabled="@enabled" SortBy="new Func<MasterChapterListModel, object>(x=>x.className)">ClassName</MudTableSortLabel></MudTh>
                                        <MudTh><MudTableSortLabel Enabled="@enabled" SortBy="new Func<MasterChapterListModel, object>(x=>x.subjectName)">SubjectName</MudTableSortLabel></MudTh>
                                        <MudTh><MudTableSortLabel Enabled="@enabled" SortBy="new Func<MasterChapterListModel, object>(x=>x.unitTitle)">UnitTitle</MudTableSortLabel></MudTh>
                                        <MudTh><MudTableSortLabel Enabled="@enabled" SortBy="new Func<MasterChapterListModel, object>(x=>x.chapterTitle)">ChapterTitle</MudTableSortLabel></MudTh>
                                        <MudTh><MudTableSortLabel Enabled="@enabled" SortBy="new Func<MasterChapterListModel, object>(x=>x.chapterDescription)">ChapterDescription</MudTableSortLabel></MudTh>
                                        <MudTh><MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<MasterChapterListModel, object>(x=>x.activeStatusDetails)">Status</MudTableSortLabel></MudTh>
                                
                                        <MudTh><MudTableSortLabel SortBy="new Func<MasterChapterListModel, object>(x=>x.createdByUser)">Created By</MudTableSortLabel></MudTh>
                                        <MudTh><MudTableSortLabel SortBy="new Func<MasterChapterListModel, object>(x=>x.createdDate)">Created Date</MudTableSortLabel></MudTh>
                                        <MudTh>Action</MudTh>
                                    </HeaderContent>
                                    <RowTemplate>
                                        <MudTd DataLabel="ChapterId">@context.masterChapterId</MudTd>
                                        <MudTd DataLabel="ClassId">@context.className</MudTd>
                                        <MudTd DataLabel="Subject">@context.subjectName</MudTd>
                                        <MudTd DataLabel="Unit">@context.unitTitle</MudTd>
                                        <MudTd DataLabel="ChapterTitle">
                                            <MudHighlighter Text="@context.chapterTitle" HighlightedText="@_searchTerm" />
                                        </MudTd>
                                        <MudTd DataLabel="ChapterDescription">
                                            <MudHighlighter Text="@context.chapterDescription" HighlightedText="@_searchTerm" />
                                        </MudTd>

                                        <MudTd DataLabel="Active Status">@context.activeStatusDetails</MudTd>
                                       
                                        <MudTd DataLabel="Created By">@context.createdByUser</MudTd>
                                        <MudTd DataLabel="Created Date">@context.createdDate</MudTd>
                                        <MudTd DataLabel="Action">
                                            <MudIconButton @onclick="@(()=>Edit(@context.masterChapterId))" Color="Color.Primary" Icon="@Icons.Material.Filled.Edit" Variant="Variant.Outlined" Size="Size.Small" Subject="ma-2"></MudIconButton>
                                            <MudIconButton OnClick="@(()=>DeleteRecord(@context.masterChapterId))" Color="Color.Error" Icon="@Icons.Material.Filled.Delete" Variant="Variant.Outlined" Size="Size.Small" Subject="ma-2"></MudIconButton>
                                        </MudTd>
                                    </RowTemplate>
                                    <PagerContent>
                                        <MudTablePager />
                                    </PagerContent>
                                </MudTable>
                            }
                        </MudCard>
                    </MudItem>
                </MudGrid>
            </MudCardContent>
            @*<MudCardActions Subject="pb-4 pl-4">

                </MudCardActions>*@
        </MudCard>
    </MudItem>>
</MudGrid>
<MudMessageBox @ref="mbox" Title="Warning" CancelText="Cancel">
    <MessageContent>
        Deleting can <b><i>not</i></b> be undone!
    </MessageContent>
    <YesButton>
        <MudButton Variant="Variant.Filled" Color="Color.Error" StartIcon="@Icons.Material.Filled.DeleteForever">Delete!</MudButton>
    </YesButton>
</MudMessageBox>