@using Syncfusion.Blazor.Cards
@using Syncfusion.Blazor.Charts
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Inputs;
@using Syncfusion.Blazor.DropDowns;
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.LinearGauge
@using Syncfusion.Blazor.Layouts
@using Syncfusion.Blazor.Popups
@using Microsoft.AspNetCore.Components.Forms
@using AIS.Data.RequestResponseModel.ExamMasterSetup;
@using AIS.Data.RequestResponseModel.MasterDataSetUp;
@using AIS.Data.RequestResponseModel.Syllabus;

@page "/User_Pages/ExamSetup/TermWiseExamSchedule"

@inherits TermWiseExamScheduleBase


@{
    var InitialGroupColumn = (new string[] { "className", "examType" });
    var InitSearchStudentName = (new string[] { "className", "subjectName" });
}
@* <SfButton Type="button" CssClass=@btncss IsToggle="false " IsPrimary="false" Content="Load Student Report" OnClick="@marksreportAsync"></SfButton>
 *@

<MudGrid>
    <MudItem xs="12" sm="12" md="6">
        <SfDashboardLayout CellSpacing="@(new double[]{20 ,20 })" Columns="7" CellAspectRatio="2" AllowResizing="true">
            <DashboardLayoutPanels>
                <DashboardLayoutPanel SizeX=7 SizeY="2">
                    <HeaderTemplate>All Exam Schedule Details</HeaderTemplate>
                    <ContentTemplate>
                        <SfGrid DataSource="@_allterWiseExamSetList"
                                EnableVirtualMaskRow="true"
                                RowHeight="38" Height="810"
                                Width="auto" EnableVirtualization="false"
                                AllowResizing="true" AllowExcelExport="true"
                                EnableAutoFill="true" AllowReordering="true"
                                ShowColumnChooser="true" AllowGrouping="true" AllowSorting="true"
                                AllowFiltering="true" AllowPaging="true" ShowColumnMenu="true"
                                Toolbar="toolbarExam" @ref="_sfterWiseExamSetList">
                            
                            <GridPageSettings PageCount="20" PageSizes="true"></GridPageSettings>

                            <GridFilterSettings Type="@Syncfusion.Blazor.Grids.FilterType.CheckBox"></GridFilterSettings>
                            <GridPageSettings PageSizes="@(new string[] { "25", "50","100", "150", "200",  "All" })" PageSize="@pageSize"></GridPageSettings>
                            
                            <GridGroupSettings Columns=@InitialGroupColumn>
                                <CaptionTemplate>
                                    @{
                                        var UnitDetails = (context as CaptionTemplateContext);
                                        <div>@UnitDetails.Field - @UnitDetails.Key</div>
                                    }
                                </CaptionTemplate>
                            </GridGroupSettings>
                            <GridEvents OnToolbarClick="toolBarItemsToolBar" TValue=TermWiseExamSchedule_List_Output_Model></GridEvents>
                            <GridColumns>
                                <GridColumn Field=@nameof(TermWiseExamSchedule_List_Output_Model.className) HeaderText="Class" TextAlign="TextAlign.Right" AllowGrouping=true AutoFit=true></GridColumn>
                                <GridColumn Field=@nameof(TermWiseExamSchedule_List_Output_Model.examType) HeaderText="Exam Type" TextAlign="TextAlign.Right"  AutoFit=true></GridColumn>
                                <GridColumn Field=@nameof(TermWiseExamSchedule_List_Output_Model.subjectName) HeaderText="Subject" AutoFit=true></GridColumn>
                                <GridColumn Field=@nameof(TermWiseExamSchedule_List_Output_Model.startTime) HeaderText="Start Time" TextAlign="TextAlign.Right" AutoFit=true></GridColumn>
                                <GridColumn Field=@nameof(TermWiseExamSchedule_List_Output_Model.endTime) HeaderText="End Time" TextAlign="TextAlign.Right" AutoFit=true></GridColumn>
                                <GridColumn Field=@nameof(TermWiseExamSchedule_List_Output_Model.examDate) Format="d" Type="ColumnType.Date" HeaderText="Exam Date" TextAlign="TextAlign.Right" AutoFit=true></GridColumn>
                                <GridColumn Field=@nameof(TermWiseExamSchedule_List_Output_Model.examdayName) HeaderText="Day" TextAlign="TextAlign.Right" AutoFit=true></GridColumn>

                                <GridColumn Field=@nameof(Exam_Type_List_Output_Model.createdDate) HeaderText="Created Date" Format="d" Type="ColumnType.Date" TextAlign="TextAlign.Right" AutoFit=true></GridColumn>
                                <GridColumn Field=@nameof(Exam_Type_List_Output_Model.createdByUser) HeaderText="created ByUser" TextAlign="TextAlign.Right" AutoFit=true></GridColumn>

                                @* <GridColumn Field=@nameof(Exam_Type_List_Output_Model.updatedByUser) HeaderText="UpdateBy User" TextAlign="TextAlign.Right" AutoFit=true></GridColumn> *@
                            </GridColumns>
                        </SfGrid>
                    </ContentTemplate>
                </DashboardLayoutPanel>
            </DashboardLayoutPanels>
        </SfDashboardLayout>
    </MudItem>
</MudGrid>


<MudGrid>
       <MudItem xs="12" sm="12" md="12">
    <MudItem xs="12" sm="12" md="12">
        <SfDialog @ref="@DialogRef" Width="1450px" AllowDragging="true" IsModal="false" ShowCloseIcon="true" @bind-Visible="@IsVisible">
            <DialogEvents OnOpen="onOpen"></DialogEvents>
            <DialogTemplates>
                <Header>@DialogHeaderName </Header>
                <Content>
                    <MudGrid>
                         <MudItem xs="12" md="6" sm="6">                       
                     
                                <EditForm Model="termWiseExmViewModel" OnValidSubmit="OnValidSubmit">
                                <DataAnnotationsValidator />
                                <MudCardContent>
                                    <MudGrid>

                                      <MudItem xs="12" md="3" sm="6">
                                                <SfDropDownList ID="ClassId" TValue="string" TItem="Master_CLass_List_Output_Model"
                                                                CssClass="e-outline" Placeholder="Select a class"
                                                            FloatLabelType="@FloatLabelType.Never"
                                                                AllowFiltering="true"
                                                                Enabled="ddEnable"
                                            @bind-Value="@termWiseExmViewModel.classId"
                                                                DataSource="@_classList">
                                                    <DropDownListFieldSettings Text="className" Value="classId" />
                                                    <DropDownListEvents TItem="Master_CLass_List_Output_Model" TValue="string"
                                                                        ValueChange="OnChangeClass" />
                                                    <ValidationMessage For="() => termWiseExmViewModel.classId" />
                                                </SfDropDownList>
                                       </MudItem>
                                      <MudItem xs="12" md="3" sm="6">
                                            <SfDropDownList ID="ClassId" TValue="string" TItem="Exam_Type_List_Output_Model"
                                                            CssClass="e-outline" Placeholder="Select a class"
                                                            FloatLabelType="@FloatLabelType.Never"
                                                            AllowFiltering="true"
                                                            Enabled="ddEnable"
                                            @bind-Value="@termWiseExmViewModel.examType"
                                                            DataSource="@_examTypeList">
                                                <DropDownListFieldSettings Text="examType" Value="examTypeId" />
                                                <DropDownListEvents TItem="Exam_Type_List_Output_Model" TValue="string"
                                                                    ValueChange="OnChangeExamType" />
                                                <ValidationMessage For="() => termWiseExmViewModel.examType" />
                                            </SfDropDownList>
                                        </MudItem>
                                        <MudItem xs="12" md="2" sm="6">
                                            <SfMaskedTextBox Mask="00:00 >PM" PromptChar="@PromptCharacter"   CustomCharacters="@customMask" @bind-Value="@termWiseExmViewModel.startTime"></SfMaskedTextBox>
                                        </MudItem>
                                        <MudItem xs="12" md="2" sm="6">
                                            <SfMaskedTextBox Mask="00:00 >PM" PromptChar="@PromptCharacter" CustomCharacters="@customMask" @bind-Value="@termWiseExmViewModel.endtime"></SfMaskedTextBox>
                                        </MudItem>
                                      <MudItem xs="12" md="2" sm="4">
                                            <SfButton Type="button" CssClass=@btncss IsToggle="false " IsPrimary="false" Content="Find Details" OnClick="@FindSubjectDetails"></SfButton>
                                       
                                        </MudItem>
                                      
                                        <MudItem xs="12" md="12" sm="12">
                                            <SfGrid DataSource="@_terWiseExamSetList"
                                                    AllowTextWrap="true"
                                                    EnableVirtualMaskRow="true"
                                                    RowHeight="38" Height="300"
                                                    Width="auto" EnableVirtualization="false"
                                                    AllowResizing="true" AllowExcelExport="true"
                                                    EnableAutoFill="true" AllowReordering="true"
                                                    ShowColumnChooser="true" AllowGrouping="false" AllowSorting="true"
                                                    AllowFiltering="false" AllowPaging="false" ShowColumnMenu="false"
                                            @ref="sfExamSchedule" Toolbar="@(new List<string>() { "Edit",  "Cancel", "Update" })">
                                                @*  <GridPageSettings PageCount="100" PageSizes="true"></GridPageSettings> *@
                                                <GridEditSettings AllowAdding="false" AllowEditing="true" AllowDeleting="false" ShowConfirmDialog=false Mode="EditMode.Batch">
                                                </GridEditSettings>
                                                @* <GridEvents QueryCellInfo="CustomizeCell" TValue="StudentAttendanceListModel" CellSaved="CellSavedHandler"></GridEvents> *@
                                                <GridEvents TValue="TermWiseExmSetViewModel" CellSaved="CellSavedHandler"></GridEvents>
                                                <GridColumns>
                                                    <GridColumn Field="@nameof(TermWiseExmSetViewModel.subjectId)" HeaderText="Subject Name" IsPrimaryKey="true" Visible=false TextAlign="TextAlign.Center" Width="90"></GridColumn>
                                                    <GridColumn Field="@nameof(TermWiseExmSetViewModel.SubjectName)" HeaderText="Subject Name" TextAlign="TextAlign.Center" AutoFit="true"></GridColumn>
                                                    <GridColumn Field="@nameof(TermWiseExmSetViewModel.startTime)" HeaderText="Start Time" AllowEditing="true" TextAlign="TextAlign.Center" AutoFit="true"></GridColumn>
                                                    <GridColumn Field="@nameof(TermWiseExmSetViewModel.endTime)" HeaderText="End Time" AllowEditing="true" TextAlign="TextAlign.Center" AutoFit="true"></GridColumn>
                                                    <GridColumn Field="@nameof(TermWiseExmSetViewModel.roomNo)" HeaderText="Room No" AllowEditing="true" TextAlign="TextAlign.Center" AutoFit="true"></GridColumn>
                                                    <GridColumn Field="@nameof(TermWiseExmSetViewModel.examDate)" HeaderText="Exam Date" AllowEditing="true" 
                                                    EditType="EditType.DatePickerEdit" Format="d" Type="ColumnType.Date"  
                                                    TextAlign="TextAlign.Center" Width="100"></GridColumn>
                                                    <GridColumn Field="@nameof(TermWiseExmSetViewModel.dayname)" HeaderText="Day Name" AllowEditing="true" TextAlign="TextAlign.Center" AutoFit="true"></GridColumn>
                                                     
                                                </GridColumns>
                                            </SfGrid> 
                                            <SfButton Type="button" CssClass="e-outline" IsToggle="false" IsPrimary="false" Content="Save Details" OnClick="@SaveExamSchedule"></SfButton>
                                            <SfButton Type="button" CssClass="e-outline" IsToggle="false"   IsPrimary="false" Content="Cancel" OnClick="@CloseDialog"></SfButton>
                                        </MudItem>
                                    </MudGrid> 
                                </MudCardContent>
                            </EditForm>
                            </MudItem>
                        <MudItem xs="12" md="6" sm="6"> 
                            <SfGrid DataSource="@_examScheduleList"
                                    EnableVirtualMaskRow="true"
                                    RowHeight="38" Height="300"
                                    Width="auto" EnableVirtualization="false"
                                    AllowResizing="true" AllowExcelExport="true"
                                    EnableAutoFill="true" AllowReordering="true"
                                    ShowColumnChooser="true" AllowGrouping="true" AllowSorting="true"
                                    AllowFiltering="true" AllowPaging="true" ShowColumnMenu="true"
                                    Toolbar="toolBarItems">
                                <GridFilterSettings Type="@Syncfusion.Blazor.Grids.FilterType.CheckBox"></GridFilterSettings>
                                <GridPageSettings PageCount="20" PageSizes="true"></GridPageSettings>

                                <GridColumns>
                                    <GridColumn Field=@nameof(TermWiseExamSchedule_List_Output_Model.className) HeaderText="Class" TextAlign="TextAlign.Right" AllowGrouping=true AutoFit=true></GridColumn>
                                    <GridColumn Field=@nameof(TermWiseExamSchedule_List_Output_Model.subjectName) HeaderText="Subject" AutoFit=true></GridColumn>
                                    <GridColumn Field=@nameof(TermWiseExamSchedule_List_Output_Model.startTime) HeaderText="Start Time" TextAlign="TextAlign.Right" AutoFit=true></GridColumn>
                                    <GridColumn Field=@nameof(TermWiseExamSchedule_List_Output_Model.endTime) HeaderText="End Time" TextAlign="TextAlign.Right" AutoFit=true></GridColumn>
                                    <GridColumn Field=@nameof(TermWiseExamSchedule_List_Output_Model.examDate) Format="d" Type="ColumnType.Date" HeaderText="Exam Date" TextAlign="TextAlign.Right" AutoFit=true></GridColumn>
                                    <GridColumn Field=@nameof(TermWiseExamSchedule_List_Output_Model.examdayName) HeaderText="Day" TextAlign="TextAlign.Right" AutoFit=true></GridColumn>
                                   
                                    <GridColumn Field=@nameof(Exam_Type_List_Output_Model.createdDate) HeaderText="Created Date" Format="d" Type="ColumnType.Date" TextAlign="TextAlign.Right" AutoFit=true></GridColumn>
                                    @* <GridColumn Field=@nameof(Exam_Type_List_Output_Model.updatedDate) HeaderText="Updated Date" TextAlign="TextAlign.Right" AutoFit=true></GridColumn> *@
                                   
                                    @* <GridColumn Field=@nameof(Exam_Type_List_Output_Model.updatedByUser) HeaderText="UpdateBy User" TextAlign="TextAlign.Right" AutoFit=true></GridColumn> *@
                                </GridColumns>
                            </SfGrid>
                        </MudItem>
                    </MudGrid>

                </Content>
            </DialogTemplates>
            <DialogAnimationSettings Delay="400" Effect="DialogEffect.FlipLeftUp">
            </DialogAnimationSettings>
            <DialogPositionData X="@Xvalue" Y="@Yvalue"></DialogPositionData>
        </SfDialog>

    </MudItem>

        </MudItem>
</MudGrid>
@code {
    private string Xvalue = "center";
    private string Yvalue = "center";

    /*
    * Gets or sets the name of the animation that should be used when opening and closing the SfDialog.
    * The following are the list of animation effects available to configure to the dialog:

       Fade
       FadeZoom
       FlipLeftDown
       FlipLeftUp
       FlipRightDown
       FlipRightUp
       FlipXDown
       FlipXUp
       FlipYLeft
       FlipYRight
       SlideBottom
       SlideLeft
    SlideRight
    SlideTop
        Zoom
       None.
    */

}




<style>
    .e-toolbar-item .e-tbar-btn {
        background-color: orange;
    }

    .e-grid .e-rowcell.e-selectionbackground {
        background-color: darkgrey !important;
    }

    .e-popup-full-page .e-popup-full-page.e-ddl.e-popup.e-ddl-device-filter {
        z-index: 10005;
    }

    .e-dialog .e-dlg-header {
        color: cornflowerblue;
        font-size: 20px;
        font-weight: normal;
    }

 
    /*  .e-rowcell.e-attr {
                            background-color: lightgrey;
                        }*/

    /* .e-popup-full-page .e-popup-full-page.e-ddl.e-popup.e-ddl-device-filter {
                            position: fixed;
                        }*/

    /*

                        .e-tab .e-tab-header:not(.e-vertical) .e-indicator, .e-tab .e-tab-header.e-vertical .e-indicator {
                            transition: none;
                        }*/
    /*.e-content .e-item {
                            font-size: 12px;
                            padding: 10px;
                            text-align: justify;
                        }*/
</style>