@using Syncfusion.Blazor.Grids
@using AIS.Data.RequestResponseModel.Expense;
@using Syncfusion.Blazor.Cards
@using Syncfusion.Blazor.Charts
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Inputs;
@using Syncfusion.Blazor.DropDowns;
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.LinearGauge
@using Syncfusion.Blazor.Layouts
@using Syncfusion.Blazor.Popups
@using AIS.Data.RequestResponseModel.ComplaintRegister;
@using AIS.Data.RequestResponseModel.Syllabus;
@using AIS.Data.RequestResponseModel.MasterDataSetUp;

@page "/User_Pages/ComplaintRegister/ComplaintRegister"

@inherits ComplaintRegisterBase
    @{
        var InitSearch2 = (new string[] { "organizationName" });
        var Tool = (new List<string>() { "Search" });

        var InitialGroupColumn = (new string[] { "previousClass" });
    }

<MudGrid>
    <MudItem xs="12" sm="12" md="6">
        <SfDashboardLayout CellSpacing="@(new double[]{20 ,20 })" Columns="7" CellAspectRatio="2" AllowResizing="true">
            <DashboardLayoutPanels>
                <DashboardLayoutPanel SizeX=7 SizeY="2">
                    <HeaderTemplate>Complaint Register Details</HeaderTemplate>
                    <ContentTemplate>
                        <SfGrid DataSource="@complaintRegisterListModels"
                                EnableVirtualMaskRow="true"
                                RowHeight="38" Height="810"
                                Width="auto" EnableVirtualization="false"
                                AllowResizing="true" AllowExcelExport="true"
                                EnableAutoFill="true" AllowReordering="true"
                                ShowColumnChooser="true" AllowGrouping="true" AllowSorting="true"
                                AllowFiltering="true" AllowPaging="true" ShowColumnMenu="true"
                                ContextMenuItems="MenuItems"
                        @ref="sfcomplintList"
                                Toolbar="toolBarItems">
                            <GridFilterSettings Type="@Syncfusion.Blazor.Grids.FilterType.CheckBox"></GridFilterSettings>
                            <GridPageSettings PageCount="20" PageSizes="true"></GridPageSettings>
                            @* <GridGroupSettings Columns="@InitialGroupColumn"></GridGroupSettings>*@
                           @*  <GridGroupSettings Columns=@InitialGroupColumn>
                                <CaptionTemplate>
                                    @{
                                        var UnitDetails = (context as CaptionTemplateContext);
                                        <div>@UnitDetails.Field - @UnitDetails.Key</div>
                                    }
                                </CaptionTemplate>
                            </GridGroupSettings>*@
                            <GridEvents OnToolbarClick="OnToolbarClick" TValue=ComplaintRegisterListModel></GridEvents>
                          @*   <GridSearchSettings Fields=@InitSearch2 Operator=Syncfusion.Blazor.Operator.Contains Key=""
                                                IgnoreCase="true"></GridSearchSettings> *@
                            <GridColumns>
                                <GridColumn Field=@nameof(ComplaintRegisterListModel.className) HeaderText="Class" TextAlign="TextAlign.Right" AllowGrouping=true AutoFit=true></GridColumn>
                                <GridColumn Field=@nameof(ComplaintRegisterListModel.sectionName) HeaderText="Class section" TextAlign="TextAlign.Right" AllowGrouping=true AutoFit=true></GridColumn>
                                <GridColumn Field=@nameof(ComplaintRegisterListModel.studentName) HeaderText="Student Name" AutoFit=true></GridColumn>
                                <GridColumn Field=@nameof(ComplaintRegisterListModel.unitName) HeaderText="Unit Title" TextAlign="TextAlign.Right" AutoFit=true></GridColumn>
                                <GridColumn Field=@nameof(ComplaintRegisterListModel.chapterName) HeaderText="Chapter title" Visible="true" TextAlign="TextAlign.Right" AutoFit=true></GridColumn>
                                <GridColumn Field=@nameof(ComplaintRegisterListModel.topicName) HeaderText="Topic Title" TextAlign="TextAlign.Right" AutoFit=true></GridColumn>
                                <GridColumn Field=@nameof(ComplaintRegisterListModel.description) HeaderText="Complain Details" Visible="false" TextAlign="TextAlign.Right" AutoFit=true></GridColumn>
                                 
                                @* <GridColumn Field=@nameof(ComplaintRegisterListModel.createdDate) HeaderText="Created Date" TextAlign="TextAlign.Right" AutoFit=true></GridColumn>
                                <GridColumn Field=@nameof(ComplaintRegisterListModel.updatedDate) HeaderText="Updated Date" TextAlign="TextAlign.Right" AutoFit=true></GridColumn>
                                <GridColumn Field=@nameof(ComplaintRegisterListModel.createdByUser) HeaderText="User Name" TextAlign="TextAlign.Right" AutoFit=true></GridColumn>
                                <GridColumn Field=@nameof(ComplaintRegisterListModel.updatedByUser) HeaderText="Update By User" TextAlign="TextAlign.Right" AutoFit=true></GridColumn> *@
                            </GridColumns>
                        </SfGrid>

                    </ContentTemplate>
                </DashboardLayoutPanel>
            </DashboardLayoutPanels>
        </SfDashboardLayout>
    </MudItem>
</MudGrid>

<MudGrid>
    <MudItem xs="12" sm="12" md="12">

        <SfDialog @ref="@DialogRef" Width="750px" AllowDragging="true" IsModal="false" ShowCloseIcon="true" @bind-Visible="@IsVisible">
            <DialogEvents OnOpen="onOpen"></DialogEvents>
            <DialogTemplates>
                <Header>@DialogHeaderName </Header>
                <Content>
                    <MudGrid>
                        <MudItem xs="12" md="12" sm="12">
                            <EditForm Model="complaintRegisterViewModel" OnValidSubmit="OnValidSubmit">
                                <DataAnnotationsValidator />
                                <MudCardContent>
                                    <MudGrid>
                                        <MudItem xs="12" md="6" sm="6">

                                            <SfDropDownList ID="ClassId" TValue="string" TItem="Master_CLass_List_Output_Model"
                                                            CssClass="e-outline" Placeholder="Select a Class"
                                                            FloatLabelType="@FloatLabelType.Never" FilterType="Syncfusion.Blazor.DropDowns.FilterType.Contains"
                                                            AllowFiltering="true"
                                                            Enabled="ddEnable"
                                            @bind-Value="@complaintRegisterViewModel.ClassID"
                                                            DataSource="@master_CLass_List">

                                                <DropDownListFieldSettings Text="className" Value="classId" />
                                                <DropDownListEvents TItem="Master_CLass_List_Output_Model" TValue="string"
                                                                    ValueChange="OnChangeClass" />
                                                <ValidationMessage For="() => complaintRegisterViewModel.ClassID" />
                                            </SfDropDownList>

                                        </MudItem>
                                        
                                        <MudItem xs="12" md="6" sm="6">
                                            <SfDropDownList ID="SectionId" TValue="string" TItem="Master_Map_Subject_With_Class_List_Output_Model"
                                                            CssClass="e-outline" Placeholder="Select a Subject" FilterType="Syncfusion.Blazor.DropDowns.FilterType.Contains"
                                                            FloatLabelType="@FloatLabelType.Never" AllowFiltering="true"
                                            @bind-Value="@complaintRegisterViewModel.SubjectID"
                                                            Enabled="ddEnable"
                                                            DataSource="@map_classwithsubject_List">
                                                <DropDownListFieldSettings Text="subjectName" Value="subjectId" />
                                                <DropDownListEvents TItem="Master_Map_Subject_With_Class_List_Output_Model" TValue="string"
                                                                    ValueChange="OnChangeSubject" />
                                                <ValidationMessage For="() => complaintRegisterViewModel.SubjectID" />
                                            </SfDropDownList>
                                        </MudItem>

                                        <MudItem xs="12" md="6" sm="6">
                                            <SfDropDownList ID="SectionId" TValue="string" TItem="Unit_Output_Model"
                                                            CssClass="e-outline" Placeholder="Select a Unit" FilterType="Syncfusion.Blazor.DropDowns.FilterType.Contains"
                                                            FloatLabelType="@FloatLabelType.Never" AllowFiltering="true"
                                            @bind-Value="@complaintRegisterViewModel.UnitID"
                                                            Enabled="ddEnable"
                                                            DataSource="@unitMasterList">
                                                <DropDownListFieldSettings Text="unitTitle" Value="unitId" />
                                                <DropDownListEvents TItem="Unit_Output_Model" TValue="string"
                                                                    ValueChange="OnChangeUnit" />
                                                <ValidationMessage For="() => complaintRegisterViewModel.UnitID" />
                                            </SfDropDownList>
                                        </MudItem>

                                        <MudItem xs="12" md="6" sm="6">
                                            <SfDropDownList ID="SectionId" TValue="string" TItem="Chapter_Output_Model"
                                                            CssClass="e-outline" Placeholder="Select a Chapter" FilterType="Syncfusion.Blazor.DropDowns.FilterType.Contains"
                                                            FloatLabelType="@FloatLabelType.Never" AllowFiltering="true"
                                            @bind-Value="@complaintRegisterViewModel.ChapterID"
                                                            Enabled="ddEnable"
                                                            DataSource="@chapterMasterList">
                                                <DropDownListEvents TItem="Chapter_Output_Model" TValue="string"
                                                                    ValueChange="OnChangeChapter" />
                                                <DropDownListFieldSettings Text="chapterTitle" Value="chapterID" />
                                                <ValidationMessage For="() => complaintRegisterViewModel.ChapterID" />
                                            </SfDropDownList>
                                        </MudItem>
                                        <MudItem xs="12" md="6" sm="6">
                                            <SfDropDownList ID="SectionId" TValue="string" TItem="Topic_Output_Model"
                                                            CssClass="e-outline" Placeholder="Select a topic"
                                                            FloatLabelType="@FloatLabelType.Never" AllowFiltering="true"
                                            @bind-Value="@complaintRegisterViewModel.TopicID"
                                                            Enabled="ddEnable"
                                                            DataSource="@_topicMasterList">
                                                <DropDownListFieldSettings Text="topicTitle" Value="topicID" />
                                                <ValidationMessage For="() => complaintRegisterViewModel.TopicID" />
                                            </SfDropDownList>
                                        </MudItem>


                                        <MudItem xs="12" md="6" sm="6">
                                            <SfDropDownList ID="SectionId" TValue="string" TItem="ComplainType"
                                                            CssClass="e-outline" Placeholder="Select a complain type"
                                                            FloatLabelType="@FloatLabelType.Never" AllowFiltering="true"
                                            @bind-Value="@complaintRegisterViewModel.ComplainType"
                                                            Enabled="ddEnable"
                                                            DataSource="@complainType">
                                                <DropDownListFieldSettings Text="Value" Value="ID" />
                                                <ValidationMessage For="() => complaintRegisterViewModel.ComplainType" />
                                            </SfDropDownList>
                                        </MudItem>



                                        <MudItem xs="12" md="12" sm="6">
                                            <SfTextBox CssClass="e-outline" Placeholder="Description" Multiline=true Type="Syncfusion.Blazor.Inputs.InputType.Text"
                                            @bind-Value="@complaintRegisterViewModel.ComplainDetails"
                                                       FloatLabelType="@FloatLabelType.Never"></SfTextBox>
                                            <ValidationMessage For="() => complaintRegisterViewModel.ComplainDetails" />
                                        </MudItem>
                                       
                                        <MudItem xs="12" md="6" sm="6">
                                            <SfButton CssClass=@btncss type="submit" IsPrimary="true">@HeaderText</SfButton>
                                            @*  <SfButton CssClass="e-outline" OnClick="@CloseDialog">Cancel</SfButton>*@
                                            <SfButton Type="button" CssClass="e-flat" IsToggle="false " IsPrimary="false" Content="Cancel" OnClick="@CloseDialog"></SfButton>
                                        </MudItem>
                                    </MudGrid>
                                </MudCardContent>
                            </EditForm>
                        </MudItem>
                       
                    </MudGrid>
                </Content>
            </DialogTemplates>
            <DialogAnimationSettings Delay="400" Effect="DialogEffect.FlipLeftUp">
            </DialogAnimationSettings>
            <DialogPositionData X="@Xvalue" Y="@Yvalue"></DialogPositionData>
        </SfDialog>

    </MudItem>
</MudGrid>


@code {
    private string Xvalue = "center";
    private string Yvalue = "center";
}
<style>
    .e-toolbar-item .e-tbar-btn {
        background-color: orange;
    }

    .e-grid .e-rowcell.e-selectionbackground {
        background-color: darkgrey !important;
    }

    .e-popup-full-page .e-popup-full-page.e-ddl.e-popup.e-ddl-device-filter {
        z-index: 10005;
    }

    .e-dialog .e-dlg-header {
        color: cornflowerblue;
        font-size: 20px;
        font-weight: normal;
    }



    /* html,
            body,
            #container {
                height: 100%;
                overflow: hidden;
                width: 100%;
                position: relative;
                min-height: 400px;
            }

            .text {
                text-transform: capitalize;
            }

            #customization {
                display: table;
                margin: 0 auto;
            }

            .animate {
                display: table-cell;
                padding-left: 20px;
            }

            @@media only screen and (max-width: 360px) {
                #customization {
                    display: inline-block;
                    margin: 0 auto;
                    text-align: center;
                }

                .animate {
                    display: inline-block;
                    padding: 10px;
                }
            } */
    /*  .e-rowcell.e-attr {
                                        background-color: lightgrey;
                                    }*/

    /* .e-popup-full-page .e-popup-full-page.e-ddl.e-popup.e-ddl-device-filter {
                                        position: fixed;
                                    }*/

    /*

                                    .e-tab .e-tab-header:not(.e-vertical) .e-indicator, .e-tab .e-tab-header.e-vertical .e-indicator {
                                        transition: none;
                                    }*/
    /*.e-content .e-item {
                                        font-size: 12px;
                                        padding: 10px;
                                        text-align: justify;
                                    }*/
</style>