@using AdminDashboard.Server.User_Pages.EmployeeSetup;
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Inputs;
@using Syncfusion.Blazor.DropDowns;
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.LinearGauge
@using Syncfusion.Blazor.Layouts
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Charts
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor
@using AIS.Data.RequestResponseModel.Employee
@using AIS.Data.RequestResponseModel.MasterDataSetUp;


@page "/User_Pages/AdminConfiguration/UserMaster"


@inherits UserMasterBase;


@{

    var InitSearch2 = (new string[] { "employeeCode", "firstName", "middleName", "lastName", "email", "roleName" });
    var Tool = (new List<string>() { "Search" });
    var InitialGroupColumn = (new string[] { "roleName" });
}
<MudGrid>
    <MudItem xs="12" sm="12" md="8">
        <SfDashboardLayout CellSpacing="@(new double[]{20 ,20 })" Columns="7" CellAspectRatio="2" AllowResizing="true">
            <DashboardLayoutPanels>
                <DashboardLayoutPanel SizeX=7 SizeY="2">
                    <HeaderTemplate>User Details List</HeaderTemplate>
                    <ContentTemplate>
                        <SfGrid DataSource="@_employee_List"
                                EnableVirtualMaskRow="true"
                                RowHeight="38" Height="710"
                                Width="auto" EnableVirtualization="false"
                                AllowResizing="true" AllowExcelExport="true"
                                EnableAutoFill="true" AllowReordering="true"
                                ShowColumnChooser="true" AllowGrouping="true" AllowSorting="true"
                                AllowFiltering="true" AllowPaging="true" ShowColumnMenu="true"
                                ContextMenuItems="MenuItems"
                                @ref="sfEmployee"
                                Toolbar="toolBarItems">

                            @*<GridTemplates>
                            <ToolbarTemplate>
                            <SfToolbar>
                            <ToolbarEvents Clicked="ToolbarClickHandler"></ToolbarEvents>
                            <ToolbarItems>
                            <ToolbarItem Type="@ItemType.Button" PrefixIcon="e-chevron-up icon" Id="AddUser" Text="Add User"></ToolbarItem>
                            <ToolbarItem Type="@ItemType.Button" PrefixIcon="e-chevron-down icon" Id="AddRole" Text="Add Role"></ToolbarItem>
                            <ToolbarItem Type="@ItemType.Button" PrefixIcon="e-chevron-up icon" Id="ExportExcel" Text="ExportExcel"></ToolbarItem>
                            <ToolbarItem Type="@ItemType.Button" PrefixIcon="e-chevron-down icon" Id="Print" Text="Print"></ToolbarItem>
                            <ToolbarItem Type="@ItemType.Button" PrefixIcon="e-chevron-up icon" Id="Search" Text="Search"></ToolbarItem>
                            <ToolbarItem Type="@ItemType.Button" PrefixIcon="e-chevron-down icon" Id="ColumnChooser" Text="ColumnChooser"></ToolbarItem>
                            <ToolbarItem Type="@ItemType.Button" PrefixIcon="e-chevron-up icon" Id="collapseall" Text="Collapse All"></ToolbarItem>
                            <ToolbarItem Type="@ItemType.Button" PrefixIcon="e-chevron-down icon" Id="ExpandAll" Text="Expand All"></ToolbarItem>
                            </ToolbarItems>
                            </SfToolbar>
                            </ToolbarTemplate>
                            </GridTemplates>*@



                            <GridSearchSettings Fields=@InitSearch2 Operator=Syncfusion.Blazor.Operator.Contains Key=""
                                                IgnoreCase="true"></GridSearchSettings>
                            <GridFilterSettings Type="@Syncfusion.Blazor.Grids.FilterType.Excel"></GridFilterSettings>
                            <GridPageSettings PageCount="20" PageSizes="true"></GridPageSettings>
                            <GridGroupSettings Columns="@InitialGroupColumn"></GridGroupSettings>
                            @* <GridGroupSettings Columns=@InitialGroupColumn>
                            <CaptionTemplate>
                            @{
                            var UnitDetails = (context as CaptionTemplateContext);
                            <div>@UnitDetails.Field - @UnitDetails.Key</div>
                            }
                            </CaptionTemplate>
                            </GridGroupSettings>*@

                            <GridEvents CommandClicked="EditUser" OnToolbarClick="ToolbarClickHandler" TValue=Employee_User_List_Output_Model></GridEvents>
                            <GridSearchSettings Fields=@InitSearch2 Operator=Syncfusion.Blazor.Operator.Contains Key=""
                                                IgnoreCase="true"></GridSearchSettings>
                            <GridColumns>
                                <GridColumn Field=@nameof(Employee_User_List_Output_Model.id) HeaderText="ID" TextAlign="TextAlign.Right" AllowGrouping=true AutoFit=true></GridColumn>
                                <GridColumn Field=@nameof(Employee_User_List_Output_Model.employeeCode) HeaderText="Employee Code" AutoFit=true></GridColumn>
                                <GridColumn Field=@nameof(Employee_User_List_Output_Model.firstName) HeaderText="First Name" TextAlign="TextAlign.Right" AutoFit=true></GridColumn>
                                <GridColumn Field=@nameof(Employee_User_List_Output_Model.middleName) HeaderText="Middle Name" TextAlign="TextAlign.Right" AutoFit=true></GridColumn>
                                <GridColumn Field=@nameof(Employee_User_List_Output_Model.lastName) HeaderText="Last Name" TextAlign="TextAlign.Right" AutoFit=true></GridColumn>

                                <GridColumn Field=@nameof(Employee_User_List_Output_Model.email) HeaderText="Email-ID" TextAlign="TextAlign.Right" AllowGrouping=true AutoFit=true></GridColumn>
                                <GridColumn Field=@nameof(Employee_User_List_Output_Model.mobileNo) HeaderText="Mobile No" AutoFit=true></GridColumn>
                                <GridColumn Field=@nameof(Employee_User_List_Output_Model.genderName) HeaderText="Gender" TextAlign="TextAlign.Right" AutoFit=true></GridColumn>
                                <GridColumn Field=@nameof(Employee_User_List_Output_Model.roleName) HeaderText="Role" TextAlign="TextAlign.Right" AutoFit=true></GridColumn>

                                <GridColumn HeaderText="Action" Width="20" AutoFit="true" TextAlign="TextAlign.Center">
                                    <GridCommandColumns>

                                        <GridCommandColumn Type="CommandButtonType.Edit" ButtonOption="@(new CommandButtonOptions()  { Content="Edit", IconCss = "e-icons e-edit e-primary e-outline", CssClass = "e-flat e-info e-outline" })"></GridCommandColumn>
                                        <GridCommandColumn Type="CommandButtonType.Edit" ButtonOption="@(new CommandButtonOptions() { Content = "Delete",IconCss = "e-icons e-delete e-primary e-outline", CssClass = "e-flat e-danger e-outline"  })"></GridCommandColumn>
                                    </GridCommandColumns>
                                </GridColumn>
                                <GridColumn Field=@nameof(Employee_User_List_Output_Model.createdDate) HeaderText="Created Date" Visible="false" TextAlign="TextAlign.Right" AutoFit=true></GridColumn>
                                <GridColumn Field=@nameof(Employee_User_List_Output_Model.updatedDate) HeaderText="Updated Date" Visible="false" TextAlign="TextAlign.Right" AutoFit=true></GridColumn>
                                <GridColumn Field=@nameof(Employee_User_List_Output_Model.createdByUser) HeaderText="CreatedBy User" Visible="false" TextAlign="TextAlign.Right" AutoFit=true></GridColumn>
                                <GridColumn Field=@nameof(Employee_User_List_Output_Model.updatedByUser) HeaderText="UpdateBy User" Visible="false" TextAlign="TextAlign.Right" AutoFit=true></GridColumn>
                            </GridColumns>
                        </SfGrid>
                    </ContentTemplate>
                </DashboardLayoutPanel>
            </DashboardLayoutPanels>
        </SfDashboardLayout>
    </MudItem>
</MudGrid>


<MudGrid>
    <MudItem xs="12" sm="12" md="12">
        <MudItem xs="12" sm="12" md="12">
            <SfDialog @ref="@DialogRef" Width="750px" AllowDragging="true" IsModal="true" ShowCloseIcon="true" @bind-Visible="@IsVisible">
                <DialogEvents OnOpen="onOpen"></DialogEvents>
                <DialogTemplates>
                    <Header>@DialogHeaderName </Header>
                    <Content>
                        <MudGrid>
                            <MudItem xs="12" md="12" sm="12">
                                <EditForm Model="employeeViewModel" OnValidSubmit="OnValidSubmit">
                                    <DataAnnotationsValidator />
                                    <MudCardContent>
                                        <MudGrid>

                                            <MudItem xs="12" md="6" sm="6">
                                                <SfTextBox CssClass="e-outline" Placeholder="Employee Code" Type="Syncfusion.Blazor.Inputs.InputType.Text"
                                                           @bind-Value="@employeeViewModel.employeeCode"
                                                           FloatLabelType="@FloatLabelType.Never"></SfTextBox>
                                                <ValidationMessage For="() => employeeViewModel.employeeCode" />
                                            </MudItem>
                                            <MudItem xs="12" md="6" sm="6">
                                                <SfTextBox CssClass="e-outline" Placeholder="First Name" Type="Syncfusion.Blazor.Inputs.InputType.Text"
                                                           @bind-Value="@employeeViewModel.firstName"
                                                           FloatLabelType="@FloatLabelType.Never"></SfTextBox>
                                                <ValidationMessage For="() => employeeViewModel.firstName" />
                                            </MudItem>
                                            <MudItem xs="12" md="6" sm="6">
                                                <SfTextBox CssClass="e-outline" Placeholder="Middle Name" Type="Syncfusion.Blazor.Inputs.InputType.Text"
                                                           @bind-Value="@employeeViewModel.middleName"
                                                           FloatLabelType="@FloatLabelType.Never"></SfTextBox>
                                                <ValidationMessage For="() => employeeViewModel.middleName" />
                                            </MudItem>
                                            <MudItem xs="12" md="6" sm="6">
                                                <SfTextBox CssClass="e-outline" Placeholder="Last Name" Type="Syncfusion.Blazor.Inputs.InputType.Text"
                                                           @bind-Value="@employeeViewModel.lastName"
                                                           FloatLabelType="@FloatLabelType.Never"></SfTextBox>
                                                <ValidationMessage For="() => employeeViewModel.lastName" />
                                            </MudItem>
                                            <MudItem xs="12" md="6" sm="6">
                                                <SfTextBox CssClass="e-outline" Placeholder="Email Id" Type="Syncfusion.Blazor.Inputs.InputType.Text"
                                                           @bind-Value="@employeeViewModel.emailId"
                                                           FloatLabelType="@FloatLabelType.Never"></SfTextBox>
                                                <ValidationMessage For="() => employeeViewModel.emailId" />
                                            </MudItem>
                                            <MudItem xs="12" md="6" sm="6">
                                                <SfMaskedTextBox Mask="(000)-000-0000" Placeholder="Mobile Number" @bind-Value="@employeeViewModel.mobileNo"></SfMaskedTextBox>
                                                <ValidationMessage For="() => employeeViewModel.mobileNo" />

                                            </MudItem>
                                            <MudItem xs="12" md="6" sm="6">
                                                <SfDropDownList ID="gender" TItem="DropdwonGenderList" TValue="string"
                                                                @bind-Value="@employeeViewModel.genderID" CssClass="e-outline"
                                                                FloatLabelType="@FloatLabelType.Never"
                                                                AllowFiltering="true"
                                                                Placeholder="Select a Gender" DataSource="@genderDetails">
                                                    <DropDownListFieldSettings Text="Text" Value="ID" />
                                                </SfDropDownList>
                                                <ValidationMessage For="@(() => employeeViewModel.genderID)"></ValidationMessage>
                                            </MudItem>
                                            <MudItem xs="12" md="6" sm="6">

                                                <SfDropDownList ID="UserRole" TValue="string" TItem="Master_Role_List_Output_Model"
                                                                CssClass="e-outline" Placeholder="Select a UserRole"
                                                                FloatLabelType="@FloatLabelType.Never"
                                                                AllowFiltering="true"
                                                                Enabled="ddEnable"
                                                                @bind-Value="@employeeViewModel.userRoleID"
                                                                DataSource="@_role_List">

                                                    <DropDownListFieldSettings Text="roleName" Value="masterRoleId" />

                                                    <ValidationMessage For="() => employeeViewModel.userRoleID" />
                                                </SfDropDownList>

                                            </MudItem>
                                            <MudItem xs="12" md="6" sm="6">
                                                <SfButton CssClass=@btncss type="submit" IsPrimary="true">@HeaderText</SfButton>
                                                @*  <SfButton CssClass="e-outline" OnClick="@CloseDialog">Cancel</SfButton>*@
                                                <SfButton Type="button" CssClass="e-flat" IsToggle="false " IsPrimary="false" Content="Cancel" OnClick="@CloseDialog"></SfButton>
                                            </MudItem>
                                        </MudGrid>
                                    </MudCardContent>
                                </EditForm>
                            </MudItem>
                        </MudGrid>
                    </Content>
                </DialogTemplates>
                <DialogAnimationSettings Delay="400" Effect="DialogEffect.FlipXDown">
                </DialogAnimationSettings>
                <DialogPositionData X="center" Y="center"></DialogPositionData>
            </SfDialog>
        </MudItem>
    </MudItem>
</MudGrid>

<style>
    .e-toolbar-item .e-tbar-btn {
        background-color: powderblue;
    }

    .e-grid .e-rowcell.e-selectionbackground {
        background-color: darkgrey !important;
    }

    .e-popup-full-page .e-popup-full-page.e-ddl.e-popup.e-ddl-device-filter {
        z-index: 10005;
    }
    /*  .e-rowcell.e-attr {
                                background-color: lightgrey;
                            }*/

    /* .e-popup-full-page .e-popup-full-page.e-ddl.e-popup.e-ddl-device-filter {
                                position: fixed;
                            }*/

    /*

                            .e-tab .e-tab-header:not(.e-vertical) .e-indicator, .e-tab .e-tab-header.e-vertical .e-indicator {
                                transition: none;
                            }*/
    /*.e-content .e-item {
                                font-size: 12px;
                                padding: 10px;
                                text-align: justify;
                            }*/
</style>