@page  "/HomeWork/HomeWork"

@using Syncfusion.Blazor.Charts
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor
@using AdminDashboard.Server.Models.MasterConfiguration.UnitMaster;
@using AdminDashboard.Server.Models.MasterConfiguration.SubjectMaster;
@using AIS.Model.MasterData;

@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Inputs;
@using Syncfusion.Blazor.DropDowns;
@using Syncfusion.Blazor.Buttons
@using AdminDashboard.Server.Models.HomeWork
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Popups;
@using System.ComponentModel.DataAnnotations;
@using Syncfusion.Blazor.Layouts
@inherits HomeWorkBase
@*start Homework list*@

<SfButton Content="Expand" OnClick="BtnClick"></SfButton>

@{

    var InitSearch1 = (new string[] { "subjectName", "unitDescription", "chapterDescription", "topicDescription" });
    var Tool = (new List<string>() { "Search" });
}
<SfDashboardLayout CellSpacing="@(new double[]{20 ,20 })" Columns="7">
    <DashboardLayoutPanels>
        <DashboardLayoutPanel SizeX=6 SizeY="2">
            <HeaderTemplate>Home work List</HeaderTemplate>
            <ContentTemplate>
                <SfGrid DataSource="@homeworkListModels" @ref="HomeworkList_grid"
                        EnableVirtualMaskRow="true"
                        RowHeight="38" Height="410"
                        Width="auto" EnableVirtualization="false"
                        AllowResizing="true" AllowExcelExport="true"
                        EnableAutoFill="true" AllowReordering="true"
                        ShowColumnChooser="true" AllowGrouping="true" AllowSorting="true"
                        AllowFiltering="true" AllowPaging="true" ShowColumnMenu="true"
                        Toolbar="@(new string[] {"Search","Print","ColumnChooser" })">
                    <GridFilterSettings Type="@Syncfusion.Blazor.Grids.FilterType.CheckBox"></GridFilterSettings>
                    <GridPageSettings PageCount="5" PageSizes="true"></GridPageSettings>
                    <GridGroupSettings EnableLazyLoading="true"></GridGroupSettings>
                    <GridSearchSettings Fields=@InitSearch1 Operator=Syncfusion.Blazor.Operator.Contains Key=""
                                        IgnoreCase="true"></GridSearchSettings>
                    <GridGroupSettings Columns="@GroupedColumns"></GridGroupSettings>
                    <GridTemplates>
                        <DetailTemplate>
                            @{
                                var homeworkList = (context as HomeworkListModel);
                                                        <table class="detailtable" width="75%">
                                                            <colgroup>
                                                                <col width="35%">
                                                                <col width="35%">
                                                                <col width="30%">
                                                            </colgroup>
                                                            <tbody>
                                                                @*<tr>
                <td rowspan="4" style="text-align: center;">
                    <img class="photo" src="@($" scripts/Images/Employees/{employee.EmployeeID}.png")" alt="@employee.EmployeeID" />
                </td>
                <td>
                    <span style="font-weight: 500;">Employee ID: </span> @employee.FirstName
                </td>
                <td>
                    <span style="font-weight: 500;">Hire Date: </span> @employee.HireDate.Value.ToShortDateString()
                </td>
            </tr>*@                                             <tr>
                                                                    <td>
                                                                        <span style="font-weight: 500;">Unit Details: </span> @homeworkList.unitDescription "-"@homeworkList.chapterDescription "-"@homeworkList.topicDescription
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <span style="font-weight: 500;">Home Work Type: </span> @homeworkList.homeWorkTypeDetails
                                                                    </td>
                                                                    <td>
                                                                        <span style="font-weight: 500;">Home work title: </span> @homeworkList.homeWorkTitle
                                                                    </td>

                                                                </tr>
                                                            
                                                                <tr>
                                                                    <td>
                                                                        <span style="font-weight: 500;">Home work Description: </span> @homeworkList.homeworkDescription
                                                                    </td>
                                                                </tr>
                                                            <tr>
                                                                <td>
                                                                    <span style="font-weight: 500;">From Date: </span> @homeworkList.fromDate
                                                                </td>
                                                                <td>
                                                                    <span style="font-weight: 500;">To Date: </span> @homeworkList.toDate
                                                                </td>
                                                                <td>
                                                                    <span style="font-weight: 500;">Teacher Name: </span> Teacher Name
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                            }
                        </DetailTemplate>
                    </GridTemplates>
                    <GridColumns>
                        <GridColumn Field=@nameof(HomeworkListModel.className) HeaderText="Class" Width="50"> </GridColumn>
                        <GridColumn Field=@nameof(HomeworkListModel.sectionName) HeaderText="Section" Width="40"></GridColumn>
                        <GridColumn Field=@nameof(HomeworkListModel.subjectName) HeaderText="Subject" Width="50"></GridColumn>
                        <GridColumn Field=@nameof(HomeworkListModel.unitTitle) HeaderText="Unit" Width="40"></GridColumn>
                        <GridColumn Field=@nameof(HomeworkListModel.chapterTitle) HeaderText="Chapter" Width="40"></GridColumn>
                        <GridColumn Field=@nameof(HomeworkListModel.topicTitle) HeaderText="Topic" Width="40"></GridColumn>
                        <GridColumn Field=@nameof(HomeworkListModel.fromDate) HeaderText="Date" Width="40"></GridColumn>

                    </GridColumns>
                    <SfToolbar>
                        <ToolbarItems>
                            <ToolbarItem Text="Export to Excel" OnClick="@ExportToExcel" Align="ItemAlign.Left"></ToolbarItem>
                            <ToolbarItem Text="Add Home Work" CssClass="e-outline"OnClick="@AddHomeWorkDialog" Align="ItemAlign.Center"></ToolbarItem>
                            <ToolbarItem Text="Search" Align="ItemAlign.Right"></ToolbarItem>
                            <ToolbarItem Text="Settings" Align="ItemAlign.Right"></ToolbarItem>
                        </ToolbarItems>
                    </SfToolbar>
                </SfGrid>
            </ContentTemplate>
        </DashboardLayoutPanel>
    </DashboardLayoutPanels>
</SfDashboardLayout>

<style type="text/css" class="cssStyles">
    .detailtable td {
        font-size: 15px;
        padding: 6px;
        max-width: 10;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .e-grid .e-icon-grightarrow::before {
        content: "\e7a9";
    }

    .e-grid .e-icon-gdownarrow::before {
        content: "\e7fe";
    }

    .photo {
        width: 100px;
        height: 100px;
        border-radius: 50px;
        box-shadow: inset 0 0 1px #e0e0e0, inset 0 0 14px rgba(0,0,0,0.2);
    }

    .e-grid .e-icon-grightarrow::before {
        content: "\e7a9";
    }

    .e-grid .e-icon-gdownarrow::before {
        content: "\e7fe";
    }
</style>

@*End Homework List*@


@* Setup time table dialog details*@

<MudGrid>
    <MudItem xs="12" sm="3" md="12">
        <MudItem xs="12" sm="3" md="12">
            <SfDialog @ref="DialogRef" Width="650px" AllowDragging="true" IsModal="false" ShowCloseIcon="true" @bind-Visible="@IsVisible">
                <DialogEvents OnOpen="onOpen"></DialogEvents>
                <DialogTemplates>
                    <Header>Send Home Work </Header>
                    <Content>
                        <MudItem xs="12" md="12" sm="3">
                            <EditForm Model="@_unitWiseMarksEntryViewModel" OnValidSubmit="OnValidSubmit">
                                <DataAnnotationsValidator />
                                <MudCardContent>
                                    <MudGrid>
                                        <MudItem xs="12" md="6" sm="12">
                                            <SfDropDownList ID="ClassID" TItem="MasterClassListModel"
                                                            CssClass="e-outline" Placeholder="Select a Class"
                                                            FloatLabelType="@FloatLabelType.Never"
                                                            AllowFiltering="false"
                                                            @bind-Value="@_unitWiseMarksEntryViewModel.ClassName"
                                                            TValue="string" DataSource="@masterClassListModels">
                                                <DropDownListEvents TItem="MasterClassListModel" TValue="string" ValueChange="OnChangeClass" />
                                                <DropDownListFieldSettings Value="masterClassId" Text="name"></DropDownListFieldSettings>
                                                <ValidationMessage For="() => _unitWiseMarksEntryViewModel.ClassName" />
                                            </SfDropDownList>
                                        </MudItem>

                                        <MudItem xs="12" md="6" sm="12">
                                            <SfDropDownList ID="Cname"
                                                            FloatLabelType="@FloatLabelType.Never"
                                                            AllowFiltering="false"
                                                            @bind-Value="@_unitWiseMarksEntryViewModel.SectionName"
                                                            TItem="MasterSectionListModel"
                                                            CssClass="e-outline" Placeholder="Select a Section"
                                                            TValue="string" DataSource="@masterSectionListModels">
                                                <DropDownListFieldSettings Value="masterSectionId" Text="name"></DropDownListFieldSettings>
                                                <ValidationMessage For="() => _unitWiseMarksEntryViewModel.SectionName" />
                                            </SfDropDownList>
                                        </MudItem>

                                        <MudItem xs="12" md="6" sm="12">
                                            <SfDropDownList ID="Sname" @bind-Value="@_unitWiseMarksEntryViewModel.SubjectName" TItem="MapsubjectwithClassModel"
                                                            CssClass="e-outline" Placeholder="Select a Subject"
                                                            FloatLabelType="@FloatLabelType.Never"
                                                            TValue="string" DataSource="@subj" AllowFiltering="false">
                                                <DropDownListEvents TItem="MapsubjectwithClassModel" TValue="string" ValueChange="OnChangeSubject" />
                                                <DropDownListFieldSettings Value="masterSubjectId" Text="subjectName"></DropDownListFieldSettings>
                                                <ValidationMessage For="() => _unitWiseMarksEntryViewModel.SubjectName" />
                                            </SfDropDownList>
                                        </MudItem>
                                        <MudItem xs="12" md="6" sm="12">
                                            <SfDropDownList ID="Uname" @bind-Value="@_unitWiseMarksEntryViewModel.UnitName" TItem="TopicMasterListModel"
                                                            CssClass="e-outline" Placeholder="Select a Unit"
                                                            FloatLabelType="@FloatLabelType.Never"
                                                            TValue="string" DataSource="@unitDetails" AllowFiltering="false">
                                                <DropDownListEvents TItem="TopicMasterListModel" TValue="string" ValueChange="OnChangeUnit" />
                                                <DropDownListFieldSettings Value="subjectUnitId" Text="unitTitle"></DropDownListFieldSettings>
                                                <ValidationMessage For="() => _unitWiseMarksEntryViewModel.UnitName" />
                                            </SfDropDownList>
                                        </MudItem>
                                        <MudItem xs="12" md="6" sm="12">
                                            <SfDropDownList ID="Uname" @bind-Value="@_unitWiseMarksEntryViewModel.ChapterName" TItem="TopicMasterListModel"
                                                            CssClass="e-outline" Placeholder="Select a Chapter"
                                                            FloatLabelType="@FloatLabelType.Never"
                                                            TValue="string" DataSource="@chapterDetails" AllowFiltering="false">
                                                <DropDownListEvents TItem="TopicMasterListModel" TValue="string" ValueChange="OnChangeChapter" />
                                                <DropDownListFieldSettings Value="subjectChapterId" Text="chapterTitle"></DropDownListFieldSettings>
                                                <ValidationMessage For="() => _unitWiseMarksEntryViewModel.ChapterName" />
                                            </SfDropDownList>
                                        </MudItem>

                                        <MudItem xs="12" md="6" sm="12">
                                            <SfDropDownList ID="Uname" @bind-Value="@_unitWiseMarksEntryViewModel.TopicName" TItem="TopicMasterListModel"
                                                            CssClass="e-outline" Placeholder="Select a Topic"
                                                            FloatLabelType="@FloatLabelType.Never"
                                                            TValue="string" DataSource="@topicDetails" AllowFiltering="false">
                                                <DropDownListEvents TItem="TopicMasterListModel" TValue="string" />
                                                <DropDownListFieldSettings Value="subjectTopicId" Text="topicTitle"></DropDownListFieldSettings>
                                                <ValidationMessage For="() => _unitWiseMarksEntryViewModel.TopicName" />
                                            </SfDropDownList>
                                        </MudItem>

                                        <MudItem xs="12" md="6" sm="12">
                                            <SfDropDownList ID="Uname" @bind-Value="@_unitWiseMarksEntryViewModel.HomeWorkType" TItem="HomeWorkType"
                                                            CssClass="e-outline" Placeholder="Select a H/W Type"
                                                            FloatLabelType="@FloatLabelType.Never"
                                                            TValue="string" DataSource="@homeWorkTypes" AllowFiltering="false">
                                                <DropDownListFieldSettings Value="ID" Text="Text"></DropDownListFieldSettings>
                                                <ValidationMessage For="() => _unitWiseMarksEntryViewModel.HomeWorkType" />
                                            </SfDropDownList>
                                        </MudItem>

                                        <MudItem xs="12" md="6" sm="12">
                                            <SfDateRangePicker TValue="DateTime?" Placeholder="Select a FromDate and  EndDate" StartDate="@StartValue"
                                                               EndDate="@EndValue"
                                                               FloatLabelType="@FloatLabelType.Never">
                                                @*<ValidationMessage For="@(() => _unitWiseMarksEntryViewModel.StartDate)"></ValidationMessage>*@
                                            </SfDateRangePicker>
                                        </MudItem>
                                        <MudItem xs="12" md="12" sm="12">
                                            <SfTextBox Placeholder="Enter Home work Title" Enabled="true"
                                                       @bind-Value="@_unitWiseMarksEntryViewModel.HomeWorkTitle"
                                                       Multiline="false">
                                                <ValidationMessage For="@(() => _unitWiseMarksEntryViewModel.HomeWorkTitle)"></ValidationMessage>
                                            </SfTextBox>
                                        </MudItem>
                                        <MudItem xs="12" md="12" sm="12">
                                            <SfTextBox Placeholder="Enter Home work description" Enabled="true"
                                                       @bind-Value="@_unitWiseMarksEntryViewModel.HomeworkDescription"
                                                       Multiline="true">
                                                <ValidationMessage For="@(() => _unitWiseMarksEntryViewModel.HomeworkDescription)"></ValidationMessage>
                                            </SfTextBox>
                                        </MudItem>
                                        <MudItem xs="12" md="4" sm="3">
                                            <SfButton CssClass="e-outline" type="submit" IsPrimary="true">Save</SfButton>
                                            <SfButton CssClass="e-outline" OnClick="@CloseDialog">Cancel</SfButton>
                                        </MudItem>

                                    </MudGrid>
                                </MudCardContent>
                            </EditForm>
                        </MudItem>
                    </Content>
                </DialogTemplates>
                <DialogAnimationSettings Effect="@AnimationEffect" Duration=400 />
            </SfDialog>
        </MudItem>
    </MudItem>
</MudGrid>
<style>

    .e-popup-full-page .e-popup-full-page.e-ddl.e-popup.e-ddl-device-filter {
        position: fixed;
    }
</style>
